/******************************************************************
Stylesheet: Base Mobile Stylesheet
******************************************************************/

/*********************
GENERAL STYLES
*********************/

body {
	font-family: $lato;
	font-size: 100%;
	line-height: 1.5;
	color: $text-color;
	background-color: $gray;
	-webkit-font-smoothing: antialiased;
}

/********************
WORDPRESS BODY CLASSES
style a page via class
********************/

.rtl {}                           /* for sites that are read right to left (i.e. hebrew) */
.home {}                          /* home page */
.blog {}                          /* blog template page */
.archive {}                       /* archive page */
.date {}                          /* date archive page */
	.date-paged-1 {}                /* replace the number to the corresponding page number */
.search {}                        /* search page */
	.search-results {}              /* search result page */
	.search-no-results {}           /* no results search page */
	.search-paged-1 {}              /* individual paged search (i.e. body.search-paged-3) */
.error404 {}                      /* 404 page */
.single {}                        /* single post page */
	.postid-1 {}                    /* individual post page by id (i.e. body.postid-73) */
	.single-paged-1 {}              /* individual paged single (i.e. body.single-paged-3) */
.attachment {}                    /* attatchment page */
	.attachmentid-1 {}              /* individual attatchment page (i.e. body.attachmentid-763) */
	.attachment-mime-type {}        /* style mime type pages */
.author {}                        /* author page */
	.author-nicename {}             /* user nicename (i.e. body.author-samueladams) */
	.author-paged-1 {}              /* paged author archives (i.e. body.author-paged-4) for page 4 */
.category {}                      /* category page */
	.category-1 {}                  /* individual category page (i.e. body.category-6) */
	.category-paged-1 {}            /* replace the number to the corresponding page number */
.tag {}                           /* tag page */
	.tag-slug {}                    /* individual tag page (i.e. body.tag-news) */
	.tag-paged-1 {}                 /* replace the number to the corresponding page number */
.page-template {}                 /* custom page template page */
	.page-template-page-php {}      /* individual page template (i.e. body.page-template-contact-php */
	.page-paged-1 {}                /* replace the number to the corresponding page number */
	.page-parent {}                 /* parent page template */
	.page-child {}                  /* child page template */
	.parent-pageid-1 {}             /* replace the number to the corresponding page number */
.logged-in {}                     /* if user is logged in */
.paged {}                         /* paged items like search results or archives */
	.paged-1 {}                     /* individual paged (i.e. body.paged-3) */

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	width: 96%;
	margin: 0 auto;
}

/*********************
LINK STYLES
*********************/

a, a:visited {
	color: $link-color;

	/* on hover */
	&:hover, &:focus {
		color: $link-hover;
	}

	/* on click */
	&:active {

	}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	text-rendering: optimizelegibility;
	font-weight: 500;
	a {
		text-decoration: none;
	}
}

h1, .h1 {
	font-size: 2.5em;
	line-height: 1.333em;
}

h2, .h2 {
	font-size: 1.75em;
	line-height: 1.4em;
	margin-bottom: 0.375em;
}

h3, .h3 {
	font-size: 1.125em;
}

h4, .h4 {
	font-size: 1.1em;
	font-weight: 700;
}

h5, .h5 {
	font-size: 0.846em;
	line-height: 2.09em;
	text-transform: uppercase;
	letter-spacing: 2px;
}

/*********************
HEADER STYLES
*********************/

.header {
	background-color: $black;
}

	#logo {
		margin: 0.75em 0;

		a {
			color: $white;
		}
	}

/*********************
NAVIGATION STYLES
*********************/

.nav {
	border-bottom: 0;
	margin: 0;

	li {

		a {
			display: block;
			color: $white;
			text-decoration: none;
			padding: 0.75em;

			&:hover, &:focus {

			}
		}

		&:first-child {}

		&:last-child {}

		ul.sub-menu,
		ul.children {

			li {

				a {
					padding-left: 30px;

					&:hover,
					&:focus {}

					&:link {}

				}

				&:first-child {}

				&:last-child {}

			}

		}

	} /* end .menu li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current-page-ancestor {

		a {}

	}  /* end current highlighters */

} /* end .nav */


/*********************
POSTS & CONTENT STYLES
*********************/

#content {
	margin-top: 1.5em;
}

	.hentry {
		background-color: $white;
		border-radius: 3px;
		margin-bottom: 1.5em;
		border: 1px solid $border-color;

		header {
			border-bottom: 1px solid $light-gray;
			padding: 1.5em;
		}

		footer {
			padding: 1.5em;
			border-top: 1px solid $light-gray;

			p {
				margin: 0;
			}
		}

	} /* end .hentry */

	.single-title,
	.page-title,
	.entry-title {
		margin: 0;
	}

	.single-title {}

	.page-title {}

	.entry-title {}

	.archive-title {}

	/* want to style individual post classes? Booya! */
	.post-id {}         /* post by id (i.e. post-3) */
	.post {}            /* general post style */
	.page {}            /* general article on a page style */
	.attachment {}      /* general style on an attatchment */
	.sticky {}          /* sticky post style */
	.hentry {}          /* hentry class */
	.category-slug {}   /* style by category (i.e. category-videos) */
	.tag-slug {}        /* style by tag (i.e. tag-news) */

	/* post meta */
	.byline {
		color: $meta-gray;
		font-style: italic;
		margin: 0;

		time {}
	}

	/* entry content */
	.entry-content {
		padding: 1.5em 1.5em 0;

		p {
			margin: 0 0 1.5em;
		}


		ul, ol, table, dl {}

		ul, ol {

			li {}

		}

		ul {

			li {}

		}

		ol {

			li {}

		}

		table {
			width: 100%;
			border: 1px solid $gray;
			margin-bottom: 1.5em;

			caption {
				margin: 0 0 7px;
				font-size: 0.75em;
				color: $meta-gray;
				text-transform: uppercase;
				letter-spacing: 1px;
			}
		}

		tr {
			border-bottom: 1px solid $gray;

			&:nth-child(even) {
				background-color: $light-gray;
			}
		}

		td {
			padding: 7px;
			border-right: 1px solid $gray;

			&:last-child {
				border-right: 0;
			}
		}

		th {
			background-color: $light-gray;
			border-bottom: 1px solid $gray;
			border-right: 1px solid $gray;

			&:last-child {
				border-right: 0;
			}
		}

		blockquote {
			margin: 0 0 1.5em 0.75em;
			padding: 0 0 0 0.75em;
			border-left: 3px solid $blue;
			font-style: italic;
			color: $meta-gray;

			&:before {}

		}

		dl {}

		dt {}

		dd {
			margin-left: 0;
			font-size: 0.9em;
			color: #787878;
			margin-bottom: 1.5em;
		}

		img {
			margin: 0 0 1.5em 0;
			max-width: 100%;
			height: auto;
		}

		/*
		image alignment on a screen this size may be
		a bit difficult. It's set to start aligning
		and floating images at the next breakpoint,
		but it's up to you. Feel free to change it up.
		*/
		.alignleft, img.alignleft {}
		.alignright, img.alignright {}
		.aligncenter, img.aligncenter {}

		.size-auto,
		.size-full,
		.size-large,
		.size-medium,
		.size-thumbnail {
			max-width: 100%;
			height: auto;
		}

		pre {
			background: $black;
			color: $light-gray;
			font-size: 0.9em;
			padding: 1.5em;
			margin: 0 0 1.5em;
			border-radius: 3px;
		}

	} /* end .entry-content */

	.wp-caption {
		max-width: 100%;
		background: #eee;
		padding: 5px;

		/* images inside wp-caption */
		img {
			max-width: 100%;
			margin-bottom: 0;
			width: 100%;
		}

		p.wp-caption-text {
			font-size: 0.85em;
			margin: 4px 0 7px;
			text-align: center;
		}

	} /* end .wp-caption */

	/* image gallery styles */
	.gallery {

		dl {

			a {}

			img {}

		}

		dt {}

		dd {}

	} /* end .gallery */

	/* gallery caption styles */
	.gallery-caption {}

	.size-full {}
	.size-large {}
	.size-medium {}
	.size-thumbnail {}

// the tag output
.tags {
	margin: 0;
}

/******************************************************************
PAGE NAVI STYLES
******************************************************************/

.pagination,
.wp-prev-next {
	margin: 1.5em 0;
}
	.pagination{
    text-align: center;

    ul {
      display: inline-block;
      background-color: $white;
      white-space: nowrap;
      padding: 0;
      clear: both;
      border-radius: 3px;
    }

    li {
      padding: 0;
      margin: 0;
      float: left;
      display: inline;
      overflow: hidden;
      border-right: 1px solid $gray;
    }

    a, span {
      margin: 0;
      text-decoration: none;
      padding: 0;
      line-height: 1em;
      font-size: 1em;
      font-weight: normal;
      padding: 0.75em;
      min-width: 1em;
      display: block;
      color: $blue;

      &:hover, &:focus {
      	background-color: $blue;
      	color: $white;
      }
    }

    .current{
    	cursor: default;
    	color: $text-color;

    	&:hover, &:focus {
    		background-color: $white;
    		color: $text-color;
    	}
    }

  } /* end .bones_page_navi */

	/* fallback previous & next links */
	.wp-prev-next {

		ul {}

		.prev-link {
			float: left;
		}

		.next-link {
			float: right;
		}

	} /* end .wp-prev-next */


/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {}

	.widgettitle {}

	.widget {

		ul {

			li {

				&:first-child {}

				&:last-child {}

				a {}

				/* deep nesting */
				ul {}

			}

		}

	}


/*********************
FOOTER STYLES
*********************/

.footer {
	clear: both;
	background-color: $black;
	color: $light-gray;
}

	.footer-links {

		ul {

			li {}

		}

	} /* end .footer-links */


	.copyright {}
