/*********************
MENU NAVIGATION
*********************/

// Mobile Menu Toggle
#menuToggle {
	display: block;
	position: relative;
	float: right;
	cursor: pointer;
	fill: $link_color;
	margin: 1em;
	svg {
		width: 24px;
		height: 24px;
		position: absolute;
		top: 0;
		right: 0;
	}
	svg.close {
		display: none;
	}
	&.active {
		svg.close {
			display: block;
		}
		svg.open {
			display: none;
		}
	}
	.menuText {
		display: none;
	}
@include breakpoint(large) {
	display: none;
}
}


// Main Menu Wrapper
.menuFull {
	display: none;
@include breakpoint(large) {
	display: block !important;
}
}


/*********************
MAIN MENU
*********************/
.mainNav {
	margin: 0;
	clear: both;
	text-align: center;
	li {
		a, a:visited {
			display: block;
			text-decoration: none;
			padding: 1em;
			transition: all $ease;
			&:hover, &:focus {
			}
		}
		ul.sub-menu {
			li {
				max-width: 49%;
				display: inline-block;
				vertical-align: top;
				a, a:visited {
					text-transform: none;
					letter-spacing: 0;
					padding: .5em 1em;
				}
			}
		}
	}
	li.current-menu-item,
	li.current_page_item,
	li.current-page-ancestor {
		> a, > a:visited {
		}
	}
@include breakpoint(large) {
	background: none;
	li {
		display: inline-block;
		vertical-align: top;
		position: relative;
		ul.sub-menu {
			left: auto;
			right: 0;
			margin-top: 0;
			position: absolute;
			z-index: 999;
			overflow: hidden;
			visibility: hidden;
			opacity: 0;
			transition: visibility $ease, opacity $ease;
			padding: 4px 0;
			background: $white;
			box-shadow: $shadow;
			border-radius: 2px;
			li {
				max-width: none;
				a, a:visited {
					padding-left: 1em;
					border-right: 0;
					display: block;
					width: 220px;
					border-top: 1px solid $gray_light;
					&:hover {
					}
				}
			}
			li:first-child {
				a {
					border: none;
				}
			}
		}
		&:hover ul { // show on hover
			top: auto;
			overflow: visible;
			visibility: visible;
			opacity: 1;
		}
	}
}
}
