@mixin 1of9 {
	@include grid-col;
	width: 11.1111111111%;
}
@mixin 2of9 {
	@include grid-col;
	width: 22.2222222222%;
}
@mixin 3of9 {
	@include grid-col;
	width: 33.3333333333%;
}
@mixin 4of9 {
	@include grid-col;
	width: 44.4444444444%;
}
@mixin 5of9 {
	@include grid-col;
	width: 55.5555555556%;
}
@mixin 6of9 {
	@include grid-col;
	width: 66.6666666667%;
}
@mixin 7of9 {
	@include grid-col;
	width: 77.7777777778%;
}
@mixin 8of9 {
	@include grid-col;
	width: 88.8888888889%;
}