@mixin 1of7 {
	@include grid-col;
	width: 14.2857142857%;
}
@mixin 2of7 {
	@include grid-col;
	width: 28.571428571%;
}
@mixin 3of7 {
	@include grid-col;
	width: 42.857142857%;
}
@mixin 4of7 {
	@include grid-col;
	width: 57.142857143%;
}
@mixin 5of7 {
	@include grid-col;
	width: 71.428571429%;
}
@mixin 6of7 {
	@include grid-col;
	width: 85.714285714%;
}