/******************************************************************

Stylesheet: BASE

******************************************************************/

html,
body {
	background-color: $gray_lighter;
}

body {
	font-size: 100%;
	line-height: 1.7;
	font-family: $sans_serif;
	color: $gray_dark; //$black;
	margin: 0;
}

::selection {
	background: #ff9; // bright yellow
	color: black !important;
	text-shadow: none;
}

hr {
	//display: block;
	height: 0;
	border: 0;
	border-top: 1px solid $gray_light;
	border-bottom: 1px solid $white;
	padding: 0;
}
.wp-block-separator.has-background {
	height: 2px;
	border: 0;
}

/*********************
LINK STYLES
*********************/
a,
a:visited {
	color: $link_color;
	&:hover,
	&:focus {
		color: $link_hover;
	}
	&:active {
		color: darken($link_hover, 10%);
	}
	&:link {
		-webkit-tap-highlight-color: rgba($link_color, 0.6); // mobile tap color
	}
}

//<a> elements that don't have a class get default styles
/*
a:not([class]) {
	text-decoration-skip-ink: auto;
	color: inherit;
	text-decoration: underline;
	text-decoration-color: $link_color;
	&:hover {
		text-decoration: none;
		color: $link_hover;
	}
}
*/

/*********************
LAYOUT & GRID STYLES
*********************/

.wrapper {
	//position: relative;
	width: 92%;
	width: calc(100% - 40px);
	margin-right: auto;
	margin-left: auto;
	max-width: 1240px;
}

.wrapperInner {
	width: 92%;
	margin-right: auto;
	margin-left: auto;
	max-width: 760px; //800px;
}

#container {
	position: relative;
}

/*********************
GUTENBERG Blocks
similar to old .entryContent
*********************/

.gutenbergBlocks {
	overflow: hidden; // this might break position sticky
}

// Gutenberg Blocks, first child
// Style all the core blocks without a wrapper :not(.acf-block)
.gutenbergBlocks > {
	*:not(.acf-block) {
		width: calc(100% - 40px);
		max-width: 760px;
		margin-right: auto;
		margin-left: auto;
		position: relative;
		/*
		&:first-child {
			margin-top: 0;
			padding-top: $spacing;
		}
		*/
	}
	.alignwide {
		max-width: 1240px;
	}
	.alignfull {
		width: 100%;
		max-width: 100%;
	}

	// Core group block
	.wp-block-group {
		.wp-block-group__inner-container > {
			*:not(.acf-block) {
				width: calc(100% - 40px);
				max-width: 760px;
				margin-right: auto;
				margin-left: auto;
			}
			.alignwide {
				max-width: 1240px; // 1180
			}
			.alignfull {
				width: 100%;
				max-width: 100%;
			}
		}
	}
	@include breakpoint(large) {
	}
}

/*********************
CORE GUTENBERG
If wp_dequeue_style( 'wp-block-library' );
*********************/
/*
.has-text-align-center {
	text-align: center;
}
.has-text-align-left {
	text-align: left;
}
.has-text-align-right {
	text-align: right;
}

.is-content-justification-center {
	justify-content: center;
}

.wp-block-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
*/

/*********************
ACCESSIBILITY using what intent
*********************/
[data-whatintent='mouse'] *:focus {
	outline: none;
}
