/******************************************************************

Stylesheet: WP Editor Stylesheet

******************************************************************/

/* ------------------------------------------- */
/*	Post Title
/* ------------------------------------------- */

.edit-post-visual-editor__post-title-wrapper {
	margin: -10px -10px 0 -10px !important;
	.editor-post-title__input {
		//text-align: center;
		max-width: 100%;
		padding: 24px;
		letter-spacing: normal;
		font-weight: normal;
		font-family: var(--wp--preset--font-family--system-font);
		font-size: var(--wp--preset--font-size--huge);
		background: var(--wp--preset--color--foreground);
		color: var(--wp--preset--color--background);
		&:focus,
		&:active {
			background: var(--wp-admin-theme-color);
		}
	}
}

/* ------------------------------------------- */
/*	Import scss modules
/* ------------------------------------------- */

@import 'modules/variables';
@import 'modules/typography';
@import 'modules/base';
