/*! Crafted with care by Creative Slice https://creativeslice.com */

/*********************
IMPORTING MODULES
*********************/
@import "modules/variables";
@import "modules/typography";
@import "modules/media";
@import "modules/forms";
@import "modules/buttons";
@import "modules/header";
@import "modules/footer";

//@import "modules/animation"; 		// aos-based animations
//@import "modules/swiper";			// Swiper carousel slider

@import "base";

/*********************
PARTIALS & BLOCKS
*********************/
@import "../../partials/**/*.scss";
@import "../../blocks/**/*.scss";

/*********************
PRINT STYLESHEET
*********************/
@media print {
	@import "modules/print";
}