/******************************************************************

Stylesheet: Slick Slider

******************************************************************/



/*********************
CORE SLICK STYLES
*********************/

.slick-slideshow {
	//position: relative;
}

.draggable .slide {
	cursor: pointer;
}

.slick-slider {
    //position: relative;
    display: none;
    -webkit-touch-callout: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
    &.slick-initialized {
	    display: block;
    }
}

.slick-list {
    //position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
    &:focus {
        outline: none;
    }
    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    transform: translate3d(0, 0, 0);
}

.slick-track {
    //position: relative;
    left: 0;
    top: 0;
    display: block;
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
    .slick-loading & {
        visibility: hidden;
    }
}
.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    display: none;
    img {
        display: block;
    }
    &.slick-loading img {
        display: none;
    }
    &.dragging img {
        pointer-events: none;
    }
    .slick-initialized & {
        display: block;
    }
    .slick-loading & {
        visibility: hidden;
    }
    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}


/*********************
NAVIGATION
*********************/

// Arrows
.slick-prev, .slick-next { 
	position: absolute;
	z-index: 9;
	height: 48px; 
	width: 48px;
	cursor: pointer; 
	top: 0;
	outline: none;
	text-align: center;
	background: $link_color;
	font-size: .01px;
	&:after {
		content: '';
		width: 12px;
		height: 12px;
		display: block;
		margin: 0 auto;
		border-bottom: 3px solid $white;
		border-left: 3px solid $white;
		transition: border $ease;
		transform: rotate(45deg);
	}

	&:hover { 
		outline: none;
		background: darken($link_color, 10%);
	}
	&:active { 
		color: $link_hover;
	}
}

.slick-prev { 
	left: 0;
	border-left: none;
}

.slick-next { 
	right: 0;
	border-right: none;
	&:after {
		border: none;
		border-top: 3px solid $white;
		border-right: 3px solid $white;
	}
}


// Dots
.slick-dots {
	display: block !important;
	text-align: center;
	position: absolute;
	left: 0;
	top: 0px;
	bottom: auto;
	width: 100%;
	li {
		display: inline-block;
		margin: 4px;
		button {
			display: block;
			cursor: pointer;
			background: $gray_light;
			border: 2px solid $white;
			//box-shadow: 0px 0 1px $gray;
			padding: 0;
			width: 16px;
			height: 16px;
			border-radius: 16px;
			height: 0;
			padding-top: 12px;
			overflow: hidden;
			font-size: .01px; // hide text
			outline: none;
			transition: background $ease, border-color $ease;
		}
		&:hover {
			button {
				background: $gray;
			}
		}
		&.slick-active {
			button {
				background: $white;
				border-color: $link_hover;
			}
		}
	}
@include breakpoint(xlarge) {
	margin-right: 4%;
}
}
