// hides border for images without src
IMG[src=''], IMG:not([src]) {
	opacity: 0;
}

// Lazy Loading
.lazyhd,
.lazy70 {
	img {
		width: 100%;
		opacity: 0.2;
		transition: opacity $easeslow;
	}
}

.lazyload {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.lazyloading {
	opacity: 0.2;
}
.lazyloaded {
	opacity: 1 !important;
}

// lazy 70
.lazy70 {
	padding-bottom: 70%;
	height: 0;
	background: $gray_lighter;
	position: relative;
	margin-bottom: $spacing/2;
}

// lazy HD
.lazyhd {
	padding-bottom: 56.25%;
	height: 0;
	background: $gray_light;
}