// hides border for images without src
IMG[src=''], IMG:not([src]) {
	opacity: 0;
}


// Lazy Loading
.lazythumb,
.lazyhd {
	img {
		opacity: 0.2;
		transition: opacity $easeslow;
	}
}

.lazyload {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.lazyloading {
	opacity: 0.2;
}
.lazyloaded {
	opacity: 1 !important;
}

// lazy thumbnails
.lazythumb {
	padding-bottom: 85.71428%;
	height: 0;
	background: $gray_light;
}

// lazy HD
.lazyhd {
	padding-bottom: 56.25%;
	height: 0;
	background: $gray_light;
}