.image {
	height: auto;
	margin: 0;
	max-width: 100%;

	&-img {
		height: 100%;
		width: 100%;
	}
}

// hides border for images without src
IMG[src=''], IMG:not([src]) {
	opacity: 0;
}

// figure classes
.lazyhd,
.lazysquare,
.lazy70 {
	position: relative;
	height: 0;
	background: $gray_light;
	img {
		width: 100%;
		height: auto;
		opacity: 0.2;
		transition: opacity $easeslow;
	}
}
.lazyhd {
	padding-bottom: 56.25%;
}
.lazysquare {
	padding-bottom: 100%;
}
.lazy70 {
	padding-bottom: 70%;
}

// Defaults
.lazyload {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.lazyloading {
	opacity: 0.2;
}
.lazyloaded {
	opacity: 1 !important;
}
