/*********************
SHARE LINKS
*********************/

.shareLinks {
	h6 {
		font-size: .875em;
		float: left;
		color: $gray;
		margin: 10px 12px 0 0;
		font-weight: normal;
	}
	a, a:visited {
		fill: $gray;
		display: inline-block;
		vertical-align: top;
		padding: 3px 7px;
		width: 34px;
		height: 34px;
		background: $white;
		border-radius: 50%;
		&:hover {
			fill: $link_hover;
		}
		svg {
			width: 20px;
			height: 20px;
		}
	}
}