// Sidebar
.sideSmall {
	width: 100%;
	position: relative;
	padding: $spacing/4 0;
@include breakpoint(large) {
	width: 30%;
	max-width: 320px;
	float: left;
	clear: left;
	margin-top: 12vw;//14vw;
	padding: 1em 0;
}
}

.headerMed + .sideSmall {
	clear: none;
	.circleItem {
		display: block;
		margin: -60px auto 0 auto;
	}
@include breakpoint(medium) {
	.circleItem {
		margin-top: -180px;
	}
}
@include breakpoint(large) {
	.circleItem {
		margin-top: 0;
	}
}
}

@include breakpoint(large) {
.sideSmall + .contentMed {
	margin-top: 10vw;
}
}

.headerMed + .sideSmall + .contentMed {
	margin-top: 0;
}