/******************************************************************

Stylesheet: Footer

******************************************************************/

.page-footer {
	clear: both;
	text-align: center;
	padding: 2em 0;
	.footer-links {
		ul {
			padding: 0;
		}
		li {
			list-style: none;
			a {
				display: block;
				padding: 0.5em;
			}
		}
	}
	.social-icon {
		display: inline-block;
		svg {
			width: 24px;
			height: 24px;
			fill: var(--wp--preset--color--primary);
		}
		&:hover svg {
			fill: var(--wp--preset--color--secondary);
		}
	}
	.copyright {
		clear: both;
		font-size: 0.75em;
		margin-top: 1em;
	}
	@include breakpoint(medium) {
		.footer-links {
			li {
				display: inline-block;
			}
		}
	}
}
