/******************************************************************

Stylesheet: Animation

******************************************************************/

/*********************
FADE ELEMENTS
*********************/

.fadeBlock {
	transition-delay: 0s;
	transition-duration: 0.6s;
	transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	transition-property: opacity transform;
	&.transition-in {
		opacity: 0;
		transform:translateY(5em);
	}
}

.fadeIn {
	opacity: 1;
	transition: opacity .5s; 
}

.fadeOut {
	opacity: 0;
	transition: opacity .5s; 
}


/*********************
AJAX LOADING SPINNER
*********************/

.ajaxSpinner {
    border:3px solid $green;
    border-radius:30px;
    height:30px;
    left:50%;
    margin:-15px 0 0 -15px;
    opacity:0;
    position:absolute;
    top:50%;
    width:30px;
    animation: pulsate 1s ease-out;
    animation-iteration-count:infinite;
}

@keyframes pulsate {
	0% {
		transform:scale(.1);
		opacity: 0.0;
	}
	50% {
		opacity:1;
	}
	100% {
		transform:scale(1.2);
		opacity:0;
	}
}
