/******************************************************************

Stylesheet: Buttons

******************************************************************/

// adjust button defaults
button {
	background: none;
	border: none;
}

%btn {
	display: inline-block;
	position: relative;
	font-family: $sans_serif;
	text-decoration: none;
	font-size: .875em;
	font-weight: bold;
	line-height: 1em;
	padding: 1em;
	border-radius: 2px;
	cursor: pointer;
	transition: background-color $ease;
	-webkit-appearance: none;
}

.form-submit input,
.button, .button:visited {
	@extend %btn;
	background-color: $link_color;
	border: 1px solid $link_color;
	color: $white;
	&:hover, 
	&:focus {
		background-color: $link_hover;
		color: $white;
		text-decoration: none;
	}
	&:active {
		background-color: darken($link_hover, 10%);
		color: $white;
	}
}
