/******************************************************************

Stylesheet: Forms

******************************************************************/

// Input defaults
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
select,
textarea,
.field {
	background-color: $gray_lighter;
	border: 1px solid $gray_light;;
	border-radius: 3px;
	box-sizing: border-box;
	box-shadow: none;
	color: $text_color;
	display: block;
	font-size: 1em;
	height: 40px;
	line-height: 40px;
	margin-bottom: 14px;
	padding: 0 12px;
	transition: background-color $ease;
	vertical-align: middle;
	width: 100%;
	&:focus,
	&:active {
		background-color: white;
	}

}

textarea {
	line-height: 1.5em;
	max-width: 100%;
	min-height: 120px;
	overflow: auto;
}

select {
	// Base64 encoded little arrow
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAG0lEQVR42mNgwAfKy8v/48I4FeA0AacVDFQBAP9wJkE/KhUMAAAAAElFTkSuQmCC);
	background-repeat: no-repeat;
	background-position: 95% center;
	-webkit-appearance: none;
}
