/******************************************************************

Stylesheet: Variables

******************************************************************/

/*********************
FONTS
*********************/
$sans_serif: 		"Helvetica Neue", Helvetica, Arial, sans-serif;
$serif:				"Georgia", Cambria, Times, serif;
$headline: 			'DIN', sans-serif;


/*********************
COLORS
*********************/

$black:             #111;
$white:             #fff;

$gray_lighter:		#f9f9f9;
$gray_light:		#999;
$gray:              #666;
$gray_dark:         #333;

$green: 	        #669933;
$gold:				#e8c200;
$red:				#d3033d;
$blue:              #2980b9;

$text_color:        $gray_dark;
$link_color:        $blue;
$link_hover:        lighten($blue, 10%);


/*********************
REUSABLE ITEMS
*********************/

$spacing:    		80px;
$default_margin:    1.5em;

$shadow: 			1px 4px 8px rgba(black, .2);
$ease:				.2s ease-in-out;
$easeslow:			.6s ease-in;


// Contain floats
.clearfix, .cf {
	zoom: 1;
	&:before, &:after { 
		content: ""; 
		display: table; 
	}
	&:after { 
		clear: both; 
	}
}

// Better support for screen readers with icons
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	word-wrap: normal !important;
	&:focus {
		background-color: $white;
		clip: auto !important;
		clip-path: none;
		color: $link_color;
		display: block;
		font-size: 1em;
		height: auto;
		left: 5px;
		line-height: normal;
		padding: 15px 23px 14px;
		text-decoration: none;
		top: 5px;
		width: auto;
		z-index: 100000; /* Above WP toolbar. */
	}
}

// keep phrase from breaking to 2nd line: class adding through wysiwyg
.nowrap {
	display: inline-block;
}


/*********************
BREAKPOINTS
*********************/

$small:		"screen and (min-width: 30em)"; // 480px
$medium:	"screen and (min-width: 48em)";	// 768px
$large:		"screen and (min-width: 64em)";	// 1024px
$xlarge:	"screen and (min-width: 75em)";	// 1200px
$xxlarge:	"screen and (min-width: 90em)";	// 1440px

@mixin breakpoint($point) {
	@if $point == xxlarge {
		@media #{$xxlarge} { @content; }	// xxlarge screen content
	}
	@if $point == xlarge {
		@media #{$xlarge} { @content; }		// xlarge screen content
	}
	@if $point == large {
		@media #{$large} { @content; }		// large screen content
	}
	@if $point == medium {
		@media #{$medium} { @content; }		// medium screen content
	}
	@if $point == small {
		@media #{$small} { @content; }		// small screen content
	}
}
