/******************************************************************

Stylesheet: Header

******************************************************************/

.page-header {
	text-align: center;
	#logo {
		display: inline-block;
		padding: 2em;
	}
}
