.searchToggle {
	display: block;
	float: right;
	cursor: pointer;
	position: relative;
	fill: $gray;
	margin: 1em;

	& svg {
		width: 24px;
		height: 24px;
		position: absolute;
		top: 0;
		right: 0;
	}

	&-close {
		display: none;
	}

	&.active {
		& .searchToggle-close {
			display: block;
		}
		& .searchToggle-open {
			display: none;
		}
	}

	&:hover,
	&:focus {
		fill: $link_hover;
	}
}
