/*********************
Notices
*********************/
.notice {
	text-align: center;
	padding: 10px;
	color: white;
	font-weight: bold;
	a,
	a:visited {
		margin-left: 4px;
		color: white;
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
	&.greenColor {
		background: var(--wp--preset--color--primary);
	}
	&.yellowColor {
		background: var(--wp--preset--color--secondary);
	}
	&.redColor {
		background: var(--wp--preset--color--tertiary);
	}
}
