/*********************
GENERAL STYLES
*********************/
body {
	font-size: 100%;
	line-height: 1.5;
	color: #333;
	background: #f2efe9;
	text-align: center;
}

.color1 {
	background: #005542; /* Green */
}
.color2 {
	background: #ffe587; /* Yellow */
}
.color3 {
	background: #faf3e3; /* Light Tan */
}
.color4 {
	background: #f2efe9; /* Light Gray */
}
.color5 {
	background: #333333; /* Dark Gray */
}
.color6 {
	background: #999999; /* Gray */
}
.color7 {
	background: #825633; /* Bronze */
}
.color8 {
	background: #ffffff; /* White */
}

/*********************
TYPOGRAPHY
*********************/

body {
	font-family: Georgia, serif;
}

#typography {
	text-align: left;
}

ul, ol {
	margin-left: 1.125em;
}

p, ul, ol {
	font-size: 1.125em;
}

h1, h2, h3, h4, h5 {
	font-weight: normal;
	font-family: 'Berling Nova Display', Georgia, serif;
	line-height: 1.2em;
}

h1 {
	font-size: 3.5em; /* 56px */
}

h2 {
	font-size: 2.625em; /* 42px */
}

h3 {
	font-size: 2em; /* 32px */
}

h4 {
	font-size: 1.5em; /* 24px */
	font-size: 1.125em; /* 18px */
	padding-bottom: .375em;
	border-bottom: 1px solid #999;
	font-weight: bold;
	letter-spacing: 1px;
	font-family: 'Berling Nova Sans', Helvetica, sans-serif;
}

h5 {
	font-size: .9em; /* 14px */
	font-family: 'Berling Nova Sans', Helvetica, sans-serif;
}

h6 {
	font-size: .9em; /* 14px */
	font-family: 'Berling Nova Sans', Helvetica, sans-serif;
}

/*********************
LINKS & BUTTONS
*********************/

a, a:visited {
	color: #005542; /* Green */
	text-decoration: none;
}

a:hover {
	color: #00775c;
	text-decoration: underline;
}


button {
	background: #005542; /* Green */
	border: none;
	color: white;
	padding: .5em 1em;
	font-size: .75em; /* 12px */
	letter-spacing: 1px;
	height: 2.7em;
	margin-right: 2em;
	position: relative;
	font-weight: bold;
	text-transform: uppercase;
	font-family: 'Berling Nova Sans', Helvetica, sans-serif;
	box-shadow: -1px 2px 6px rgba(0,0,0,.4);
}

button:after {
	content: "";
	position: absolute;
	display: block;
	bottom: 0;
	right: -1em;
	border-top: 1.35em dotted transparent;
	border-left: 1em solid #005542; /* Green */
	border-bottom: 1.35em solid transparent;
}

button:hover, button.active {
	background: #00775c;
	color: #ffc;
}
button:hover:after, button.active:after {
	border-left-color: #00775c;
}

button.inactive {
	background: #ccc;
	box-shadow: none;
	color: white !important;
	cursor: default;
}
button.inactive:after {
	border-left-color: #ccc;
}


/*********************
PAGE HEADER
*********************/

header {
	background: white;
}

#logo {
	margin: 0 auto;
	width: 290px;
}

#logo img {
	width: 287px;
	height: auto;
	padding: 30px 0;
}

nav {
	border-top: 1px solid black;
	border-bottom: 4px solid black;
	text-align: center;
}
nav ul {
	font-size: .75em;
	margin-left: 0;
}
nav li {
	display: inline-block;
}

nav a {
	color: black;
	font-weight: bold;
	font-family: 'Berling Nova Sans', sans-serif;
	text-transform: uppercase;
	display: block;
	padding: .75em 1.25em;
	letter-spacing: 1px;
	margin-bottom: -4px;
	border-bottom: 4px solid transparent;
	text-decoration: none;
	transition: .2s;
}

nav a:hover {
	border-bottom: 4px solid #ffe587; /* Yellow */
	color: #666666; /* Gray */
	text-decoration: none;
}


/*********************
SIDEBAR
*********************/

.sidebar-block {
	background: #faf3e3; /* Light Tan */
	border: 1px solid #e6dfd0;
	padding: 2em;
	margin: 0 1em 1em 0;
	text-align: left;
}

.sidebar-block h3 {
	margin: 0;
}

.sidebar-block h5 {
	font-weight: bold;
	margin: 0 0 .25em 0;
}

.sidebar-block .headline {
	border-bottom: 1px solid #e6dfd0;
	padding-bottom: 1em;
}

.sidebar-block .date {
	margin-top: 2em;
}

.sidebar-block p {
	margin: 0;
	font-size: 1em;
	color: #666;
}

.sidebar-block ul {
	list-style: none;
	margin: 0;
}
.sidebar-block li {
	padding: .25em 0;
}

.sidebar-block span {
	font-size: 1.5em;
	float: left;
	margin: -.125em .25em 0 0;
}

.sidebar-block .active a {
	color: black;
	margin-left: -.8em;
	text-decoration: none !important;
}

.sidebar-block .active a:before {
	content: '« ';
}


/*********************
TICKER
*********************/

#ticker {

}
.ticker-dark {
	background: black;
	background: url(assets/px_by_Gre3g.png) repeat;
	border-top: 2px solid black;
	border-bottom: 2px solid white;
	color: white;
	text-shadow: -1px -1px 0 black;
	padding: .625em 1em;
}
.ticker-dark em {
	color: #bbb;
	padding: 0 .2em;
}

.ticker-dark span {
	margin: 0 1em;
}

.ticker-dark .up {
	color: #00bb91;
}

.ticker-dark .down {
	color: red;
}


/*********************
ICONS
*********************/

#icons {
	margin: 2em;
}
#icons span {
	font-size: 32px;
	line-height: 2.5em;
	padding: 1em;
	color: black;
}

/*********************
ARTICLE
*********************/

#article {
	text-align: left;
}

/*********************
TAN BLOCK
*********************/

.tan-block {
	background: #ebe1c9;
	padding: .5em 2em 2em 2em;
	color: #666;
}

.tan-block h3 {
	color: black;
}

.white-block {
	display: inline-block;
	vertical-align: top;
	background: white;
	box-shadow: 1px 1px 6px rgba(0,0,0,.1);
	padding: .5em;
	margin: 0 1em 1em 0;
	width: 180px;
	text-align: center;
	line-height: 1.2em;
}

.white-block .image {
	background: #eee;
	height: 150px;
	width: 100%;
	display: block;
}
.white-block .heading {
	font-weight: bold;
	font-family: 'Berling Nova Sans', Helvetica, sans-serif;
	display: block;
	color: black;
	margin: .5em .2em .2em .2em;
}

.white-block .subheading {
	font-style: italic;
	color: #666;
	font-size: .875em;
}

.white-block a.heading, a.white-block .heading {
	color: #005542; /* Green */
}

a.white-block:hover {
	background: #ffc;
	text-decoration: none;
	box-shadow: none;
}


/*********************
GREEN BLOCK
*********************/

.bronze-block {
	background: #825633; /* Bronze */
	padding: .5em 2em 2em 2em;
	color: white;
}

.green-block button {
	border: 1px solid white;
}
.green-block button:after {
	border: none;
}


/*********************
DARK BLOCK
*********************/

.dark-block {
	background: #1a1815;
	padding: .5em 2em 2em 2em;
	color: #faf3e3; /* Light Tan */
}
