/*********************
Text Block
*********************/

.textBlock {
	padding: $spacing/4 0;
	.sectionTitle {
		margin: 0 0 $spacing/2 0;
	}
	.sectionTitle,
	.entryContent {
		width: 92%;
		max-width: 1200px;
		margin-right: auto;
		margin-left: auto;
		*:first-child {
			margin-top: 0;
		}
	}
	&.color-white {
		background: $white;
	}
	&.color-black {
		background: $black;
		color: $white;
	}
@include breakpoint(medium) {
	padding: $spacing/2 0;
	&.style-two {
		text-align: center;
		.entryContent {
			text-align: left;
			display: inline-block;
			vertical-align: top;
			width: 44%;
			max-width: 568px;
			& + .entryContent {
				margin-left: 4%;
			}
		}
	}
	&.style-three {
		text-align: center;
		.entryContent {
			text-align: left;
			display: inline-block;
			vertical-align: top;
			width: 30%;
			max-width: 377px;
			& + .entryContent {
				margin-left: 2%;
			}
		}
	}
}
}
