/*********************
FONT FACE
*********************/

@font-face{
	font-family: 'Berling Nova Sans';
	src: url('../fonts/berlingnovasanspro-regular.eot');
	src: url('../fonts/berlingnovasanspro-regular.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/berlingnovasanspro-regular.woff') format('woff'),
	     url('../fonts/berlingnovasanspro-regular.ttf') format('truetype'),
	     url('../fonts/berlingnovasanspro-regular.svg#berlingnovasanspro-regular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'Berling Nova Sans';
	src: url('../fonts/berlingnovasanspro-extrabold.eot');
	src: url('../fonts/berlingnovasanspro-extrabold.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/berlingnovasanspro-extrabold.woff') format('woff'),
	     url('../fonts/berlingnovasanspro-extrabold.ttf') format('truetype'),
	     url('../fonts/berlingnovasanspro-extrabold.svg#berlingnovasanspro-extrabold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face{
	font-family: 'Berling Nova Display';
	src: url('../fonts/berlingnovadisplaypro.eot');
	src: url('../fonts/berlingnovadisplaypro.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/berlingnovadisplaypro.woff') format('woff'),
	     url('../fonts/berlingnovadisplaypro.ttf') format('truetype'),
	     url('../fonts/berlingnovadisplaypro.svg#berlingnovadisplaypro') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face{
	font-family: 'Berling Nova Display';
	src: url('../fonts/berlingnovadisplaypro-italic.eot');
	src: url('../fonts/berlingnovadisplaypro-italic.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/berlingnovadisplaypro-italic.woff') format('woff'),
	     url('../fonts/berlingnovadisplaypro-italic.ttf') format('truetype'),
	     url('../fonts/berlingnovadisplaypro-italic.svg#berlingnovadisplaypro-italic') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-inm9hx');
	src:url('../fonts/icomoon.eot?#iefix-inm9hx') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-inm9hx') format('woff'),
		url('../fonts/icomoon.ttf?-inm9hx') format('truetype'),
		url('../fonts/icomoon.svg?-inm9hx#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-greenberg:before {
	content: "\47";
}
.icon-grid:before {
	content: "\67";
}
.icon-search:before {
	content: "\73";
}
.icon-calendar:before {
	content: "\63";
}
.icon-envelope:before {
	content: "\65";
}
.icon-menu:before {
	content: "\6d";
}
.icon-close:before {
	content: "\78";
}
.icon-facebook:before {
	content: "\66";
}
.icon-twitter:before {
	content: "\74";
}
.icon-feed:before {
	content: "\72";
}
.icon-linkedin:before {
	content: "\6c";
}
