/******************************************************************

Stylesheet: BASE

******************************************************************/

/*********************
GENERAL STYLES
*********************/

html, body {
	background-color: $gray_lighter;
}

body {
	font-size: 100%;
	line-height: 1.5;
	color: $text_color;
	font-family: $sans_serif;
}

::selection { 
	background: #ff9; // bright yellow
	color: black !important;
	text-shadow: none;
}

hr {
	display: block;
	height: 0;
	border: 0;
	border-top: 1px solid $gray_light;
	border-bottom: 1px solid $white;
	margin: 1em 0;
	padding: 0;
}

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	width: 94%;
	margin: 0 auto;
	max-width: 1200px;
}

.wrap-inner {
	width: 94%;
	margin: 0 auto;
	max-width: 800px;
}

#container {
	position: relative;
}

/*********************
LINK STYLES
*********************/

a, a:visited {
	color: $link_color;

	&:hover, &:focus {
		color: $link_hover;
	}

	/* on click */
	&:active {
		color: darken($link_hover, 10%);
	}

	/* mobile tap color */
	&:link {
		-webkit-tap-highlight-color: rgba( $link_color, 0.5 );
	}
}

/*********************
POSTS & CONTENT STYLES
*********************/

#content {
	background: white;
@include breakpoint(medium) {
}
}


/******************************************************************
ENTRY CONTENT
******************************************************************/

.entry-content {

	ul, ol {
		margin: 0 0 $default_margin 2em;
	}

	ul {
		list-style: disc;
	}

	ol {
		list-style: decimal;
	}

	li {
		& > ul,
		& > ol {
			margin-bottom: 0;
			margin-left: 1em;
		}
	}

	dt {
		font-weight: bold;
	}

	dd {
		margin: 0 1em $default_margin;
	}

	table {
		margin: 0 0 $default_margin;
		width: 100%;
	}

	th {
		font-weight: bold;
	}

}



/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {
	background: $gray_lighter;
	padding: 2em;
}


/*********************
SHARE LINKS
*********************/

.share-links {
	a, a:visited {
		fill: $link_color;
		display: inline-block;
		padding: .5em;
		&:hover {
			fill: $link_hover;
		}
		svg {
			width: 24px;
			height: 24px;
		}
	}
}
