/******************************************************************

Stylesheet: BASE

******************************************************************/

/*********************
GENERAL STYLES
*********************/

body {
	font-size: 100%;
	line-height: 1.5;
	color: $text-color;
	background-color: white;
	font-family: $sans-serif;
}

::selection { background: $link-color; color: white !important; text-shadow: none; }

hr {
	display: block;
	height: 0;
	border: 0;
	border-top: 1px solid $light-gray;
	border-bottom: 1px solid $white;
	margin: 2em 0;
	padding: 0;
}

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	width: 96%;
	margin: 0 auto;
}

/*********************
LINK STYLES
*********************/

a, a:visited {
	color: $link-color;

	&:hover, &:focus {
		color: $link-hover;
	}

	/* on click */
	&:active {
		color: darken($link-hover, 10%);
	}

	/* mobile tap color */
	&:link {
		-webkit-tap-highlight-color : rgba( $link-color, 0.5 );
	}
}

/*********************
HEADER STYLES
*********************/

.header {
	background: $black;
	#logo {
		margin: 1em;
	}
}

/*********************
NAVIGATION STYLES
*********************/

.nav {
	margin: 0;

	li {

		a, a:visited {
			display: block;
			color: $light-gray;
			text-decoration: none;
			padding: 1em;

			&:hover, &:focus {
				color: white;
			}
		}

		ul.sub-menu,
		ul.children {

			li {
				a, a:visited {
					padding-left: 30px;
				}

			}

		}

	}

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current-page-ancestor {

		a {}

	}

}


/*********************
POSTS & CONTENT STYLES
*********************/

#content {
}

#main {
	background: $white;
}

.hentry {

}

.single-title,
.page-title,
.entry-title {
	margin: 0;
}

/* post meta */
.byline {
	color: $gray;
	font-style: italic;
	margin: 0;
}

/* entry content */
.entry-content {

	p {
		margin: 1em 0;
	}

	ul,
	ol {
		margin: 0 0 0 2em;
	}
	
	ul {
		list-style: disc;
	}
	
	ol {
		list-style: decimal;
	}
	
	li > ul,
	li > ol {
		margin: 0 0 0 1.5em;
	}

	table {
		width: 100%;
		border: 1px solid $gray;
		margin-bottom: 1.5em;
	}

	tr {
		border-bottom: 1px solid $gray;

		&:nth-child(even) {
			background-color: $light-gray;
		}
	}

	td {
		padding: .5em;
		border-right: 1px solid $gray;

		&:last-child {
			border-right: 0;
		}
	}

	th {
		background-color: $light-gray;
		border-bottom: 1px solid $gray;
		border-right: 1px solid $gray;

		&:last-child {
			border-right: 0;
		}
	}

	blockquote {
		margin: 0 0 1.5em 1em;
		padding: 0 0 0 1em;
		border-left: 3px solid $link-color;
		font-style: italic;
		color: $gray;
		&:before {}
	}

	img {
		margin: 0;
		max-width: 100%;
		height: auto;
	}

	.size-auto,
	.size-full,
	.size-large,
	.size-medium,
	.size-thumbnail {
		max-width: 100%;
		height: auto;
	}

	pre {
		background: $black;
		color: $light-gray;
		font-size: 0.9em;
		padding: 1em;
		margin: 0 0 1em;
	}

} /* end .entry-content */

.wp-caption {
	max-width: 100%;
	background: $light-gray;
	padding: 5px;

	/* images inside wp-caption */
	img {
		max-width: 100%;
		margin-bottom: 0;
		width: 100%;
	}

	p.wp-caption-text {
		font-size: 0.9em;
		margin: 4px 0 7px;
		text-align: center;
	}

}


/******************************************************************
PAGE NAVI STYLES
******************************************************************/

.pagination,
.wp-prev-next {
	margin: 1em 0;
}
.pagination{
    text-align: center;

    ul {
		display: inline-block;
		background-color: $white;
		white-space: nowrap;
		padding: 0;
		clear: both;
    }

    li {
		padding: 0;
		margin: 0;
		float: left;
		display: inline;
		overflow: hidden;
		border-right: 1px solid $gray;
    }

    a, span {
		margin: 0;
		text-decoration: none;
		padding: 0;
		line-height: 1em;
		font-size: 1em;
		font-weight: normal;
		padding: 0.75em;
		min-width: 1em;
		display: block;
		color: $blue;

		&:hover, &:focus {
			background-color: $link-color;
			color: $white;
		}
	}

    .current{
    	cursor: default;
    	color: $text-color;

    	&:hover, &:focus {
    		background-color: $white;
    		color: $text-color;
    	}
    	
    }

}


/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {
	background: $light-gray;
}


/*********************
FOOTER STYLES
*********************/

.footer {
	clear: both;
	background-color: $black;
	color: $light-gray;
	
	.footer-links {

		ul {

			li {}

		}

	}

	.copyright {}

}
