/******************************************************************

Stylesheet: BASE

******************************************************************/

/*********************
GENERAL STYLES
*********************/

body {
	background-color: white;
}

::selection { background: #ff9; color: black !important; text-shadow: none; }

hr {
	display: block;
	height: 0;
	border: 0;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid $white;
	margin: 0 0 1em;
	padding: 0;
}

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	width: 96%;
	margin: 0 auto;
	max-width: 1200px;
}

/*********************
LINK STYLES
*********************/

a, a:visited {
	color: $link_color;

	&:hover, &:focus {
		color: $link_hover;
	}

	/* on click */
	&:active {
		color: darken($link_hover, 10%);
	}

	/* mobile tap color */
	&:link {
		-webkit-tap-highlight-color : rgba( $link_color, 0.5 );
	}
}

/*********************
FADE ELEMENTS
*********************/

.fade-block {
	transition-delay: 0s;
	transition-duration: 0.6s;
	transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	transition-property: opacity transform;
	&.transition-in {
		opacity: 0;
		transform:translateY(5em);
	}
}

.fadeIn{
	opacity: 1;
	transition: opacity .5s; 
}
.fadeOut{
	opacity: 0;
	transition: opacity .5s; 
}


/*********************
POSTS & CONTENT STYLES
*********************/

#content {
}

#main {
	background: white;
	padding-right: 1em;
}


/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {
	background: #ddd;
	padding: 1em;
}