/******************************************************************

Stylesheet: MEDIUM

******************************************************************/

/*********************
GENERAL STYLES
*********************/

body {}

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	// width: 760px;
}

/*********************
HEADER STYLES
*********************/

.header {
	#logo {}
}

	
/*********************
NAVIGATION STYLES
*********************/

.nav {
	border: 0;
	ul {
		margin-top:0;
	}
	li {
		float: left;
		position: relative;

		a {
			border-bottom: 0;

			&:hover, &:focus {
				color: $white;
				text-decoration: underline;
			}
		}

		&:first-child {}
		&:last-child {}

		/*
		plan your menus and drop-downs wisely.
		*/
		ul.sub-menu,
		ul.children {
			margin-top: 0;
			border: 1px solid #ccc;
			border-top: 0;
			position: absolute;
			overflow: hidden;
			visibility: hidden;
			z-index: 8999;

			li {

				a {
					padding-left: 10px;
					border-right: 0;
					display: block;
					width: 180px;
					border-bottom: 1px solid #ccc;

					&:hover,
					&:focus {}

					&:link {}
				}

				&:first-child {}

				&:last-child {

					a {
						border-bottom: 0;
					}
				}
			}

			/* highlight sub-menu current page */
			li.current-menu-item,
			li.current_page_item,
			li.current-page-ancestor {
				a {}
			}
		}

		/* showing sub-menus */
		&:hover ul {
			top: auto;
			overflow: visible;
			visibility:visible;
		}

	} /* end .menu ul li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current-page-ancestor {
		a {}
	}  /* end current highlighters */

} /* end .nav */

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {
}


/*********************
FOOTER STYLES
*********************/

.footer {
	
	.footer-links {

		ul {

			li {}

		}

	} /* end .footer-links */


	.copyright {}

}
