/******************************************************************

Stylesheet: MEDIUM

******************************************************************/

/*********************
GENERAL STYLES
*********************/

body {}

/*********************
NAVIGATION STYLES
*********************/

.nav {
	li {
		float: left;
		position: relative;

		a, a:visited {

			&:hover, &:focus {
			}
		}

		&:first-child {}
		&:last-child {}

		/* sub-menus and drop-downs */
		ul.sub-menu,
		ul.children {
			margin-top: 0;
			border: 1px solid $gray;
			border-top: 0;
			position: absolute;
			overflow: hidden;
			visibility: hidden;
			z-index: 8999;

			li {

				a {
					padding-left: 10px;
					border-right: 0;
					display: block;
					width: 180px;

					&:hover,
					&:focus {}

					&:link {}
				}
			}

			/* highlight sub-menu current page */
			li.current-menu-item,
			li.current_page_item,
			li.current-page-ancestor {
				a {}
			}
		}

		/* showing sub-menus */
		&:hover ul {
			top: auto;
			overflow: visible;
			visibility:visible;
		}

	} /* end .menu ul li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current-page-ancestor {
		a {}
	}

}

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {
}


/*********************
FOOTER STYLES
*********************/

.footer {

	.footer-links {

		ul {

			li {}

		}

	}

	.copyright {}

}
