/******************************************************************

Stylesheet: WP Editor Stylesheet 

******************************************************************/

/*********************
REMOVES MEDIA QUERIES
*********************/
$ignore-mqs: true;


/*********************
IMPORTING MODULES
*********************/

// import variables
@import "modules/variables";

// typography
@import "modules/typography";

// buttons
@import "modules/buttons";


/*********************
CUSTOM EDITOR STYLES
*********************/

.nowrap {
	border: 1px solid #eee;
	display: inline-block;
}