/******************************************************************

Stylesheet: WP Editor Stylesheet 

******************************************************************/

/*********************
REMOVES MEDIA QUERIES
*********************/
$ignore-mqs: true;


/*********************
IMPORTING MODULES
*********************/

// import mixins
@import "modules/mixins";

// import icons
@import "modules/fontface";

// typography
@import "modules/typography";

// typography
@import "modules/wpimage";


/*********************
CUSTOM EDITOR STYLES
*********************/

.nowrap {
	border: 1px solid #eee;
	display: inline-block;
}