/******************************************************************

Stylesheet: Login Screen

******************************************************************/
$login_accent: #669933; // green
$login_dark: #1b801b; // green dark

body.login {
	background: $login_accent;
	background-image: linear-gradient(
		45deg,
		$login_dark, $login_accent
	);
}

/*
 * Logo above login form
 */
.login {
	h1 a {
		background: url(../img/login-logo.png) no-repeat top center;
		width: 274px;
		height: 64px;
		text-indent: -9999px;
		overflow: hidden;
		padding-bottom: 0px;
		display: block;
	}
	.message {
		border-color: black;
	}
	#nav a, #backtoblog a {
		color: rgba(white, .7);
		&:hover {
			color: white;
		}
	}
}

form {
	margin-left: 8px;
	padding: 26px 24px 46px;
	font-weight: normal;
	background: white;
	border: 1px solid #eee;
	border-radius: 4px;
	box-shadow: none;
}

body form .input {
	font-weight: 200;
	font-size: 24px;
	width: 97%;
	padding: 3px;
	margin-top: 2px;
	margin-right: 6px;
	margin-bottom: 16px;
	border: 1px solid #eee;
	background: #fefefe;
	outline: none;
	box-shadow: inset 1px 1px 3px rgba(black, .1);
}

#wp-submit {
	background: $login_accent;
	border-color: $login_accent !important;
	text-shadow: -1px -1px 0 rgba(black, .2);
	box-shadow: 0 1px 3px rgba(black, .2);
	font-weight: bold;
	text-transform: uppercase;
	&:hover {
		background: $login_dark;
	}
}
