/*! Built by Creative Slice in Tucson, AZ! http://creativeslice.com */

/******************************************************************

Site Name: Golden Egg Starter Theme
Author: Creative Slice

******************************************************************/

/*********************
IMPORTING MODULES
*********************/

// normalize: http://necolas.github.io/normalize.css/
@import "modules/normalize";

// import mixins
@import "modules/mixins";

// import icons
@import "modules/fontface";

// typography
@import "modules/typography";

// wordpress content images
@import "modules/wpimage";

// forms
@import "modules/forms";

// the grid
@import "modules/grid";

// comments
@import "modules/comments";

// pagenavi
@import "modules/pagenavi";

// colorbox
//@import "modules/colorbox";

// flexslider
//@import "modules/flexslider";

// headroom
@import "modules/headroom";

// flexslider
//@import "modules/mixitup";

/*********************
BASE (MOBILE) SIZE
*********************/

@import "base";


/*********************
PRINT STYLESHEET
*********************/
@media print {

	@import "modules/print";

}
