/*********************
Image Icon Text
*********************/

.image-icon-text-block {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	margin-bottom: 20px;
	.sideImage {
		width: 60px;
		margin-right: 10px;
		img {
			border-radius: 50%;
			width: 100%;
			height: auto;
		}
	}
	.sideIcon {
		margin-right: 8px;
		//padding: 8px;
		width: 28px;
		height: 28px;
		svg {
			width: 28px;
			height: 28px;
		}
	}
	.sideContent {
		* {
			margin: 4px 0;
			line-height: 1.25;
		}
	}
@include breakpoint(large) {
	.sideImage {
		width: 80px;
		margin-right: 20px;
	}
}
}
