/******************************************************************

Stylesheet: Fonmon Grid

A five column layout using columns of different widths

https://gridsetapp.com/specs/fonmon/?gridset=show

******************************************************************/

@mixin grid-col {
  float: left;
  margin-right: 3.0303%;
  background: #eee;
  border: 1px solid #ddd;
  p {
	  background: white;
  }

}

// the last column
.last-col {
  float: right !important;
  margin-right: 0 !important;
}



/*
Simple Golden Ratio
*/
.goldlarge {
	width: 61.803398875%;
	@include grid-col;
}
.goldsmall {
	width: 38.196601125%;
	@include grid-col;
}


/*
Small - 2 column
*/
@media (max-width: 47.938em) {

	.s-all  {
		@include grid-col;
		width: 100%;
		margin-right: 0;
	}
	.s-g1 {
		 width: 62%;
		 @include grid-col;
	}
	
	.s-g2 {
		 width: 34.9697%;
		 @include grid-col;
	}

	.s-last {
	  float: right;
	  margin-right: 0;
	}

}


/* 
Medium - 3 column 
*/
@media (min-width: 48em) and (max-width: 63.938em) {

	.m-all  {
		@include grid-col;
		width: 100%;
		margin-right: 0;
	}
	.m-g1 {
		 width: 25%;
		 @include grid-col;
		 margin-right: 2.6728%;
	}
	.m-g1-g2 {
		 width: 72.6847%;
		 @include grid-col;
		 margin-right: 2.3153%;
	}
	
	.m-g2 {
		 width: 44.6544%;
		 @include grid-col;
		 margin-right: 2.6728%;
	}
	
	.m-last {
	  float: right;
	  margin-right: 0;
	}
	
}


/* 
Large - 5 column 
*/
@media (min-width: 64em) {

	.l-all  {
		@include grid-col;
		width: 100%;
		margin-right: 0;
	}

	.l-g1 {
		 width: 25%;
		 @include grid-col;
	}
	.l-g1-g2 {
		 width: 40.6229%;
		 @include grid-col;
	}
	.l-g1-g3 {
		 width: 56.2458%;
		 @include grid-col;
	}
	.l-g1-g4 {
		 width: 71.8687%;
		 @include grid-col;
	}
	
	.l-g2 {
		 width: 12.5926%;
		 @include grid-col;
	}
	.l-g2-g3 {
		 width: 28.2155%;
		 @include grid-col;
	}
	.l-g2-g4 {
		 width: 43.8384%;
		 @include grid-col;
	}
	
	.l-last {
	  float: right;
	  margin-right: 0;
	}
	
}
