/******************************************************************

Stylesheet: Comment Styles

******************************************************************/

/******************************************************************
COMMENT STYLES
******************************************************************/

/* h3 comment title */
#comments-title {
	padding: 0.75em;
	margin: 0;
	border-top: 1px solid $gray_light;

	/* number of comments span */
	span {}

}

.comment-nav {

	ul {

		li {}

	}
}


.commentlist {
	margin: 0;
	list-style-type: none;
}

.comment {
	position: relative;
	clear: both;
	overflow: hidden;
	padding: 1.5em;
	border-bottom: 1px solid $gray_light;

	.comment-author {
		padding: 7px;
		border: 0;
	}

	/* vcard */
	.vcard {
		margin-left: 50px;

		cite.fn {
			font-weight: 700;
			font-style: normal;

			a.url {}

		}

		time {
			display: block;
			font-size: 0.9em;
			font-style: italic;

			a {
				color: $gray;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}

			}

		}

		.photo {}

		.avatar {
			position: absolute;
			left: 16px;
			border-radius: 50%;
		}

	} /* end .commentlist .vcard */

	&:last-child {
		margin-bottom: 0;
	}

	.children {
		margin: 0;

		li {}

			/* variations */
			.comment {}
			.alt {}
			.odd {}
			.even {}
			.depth-1 {}           /* change number for different depth */
			.byuser {}
			.bypostauthor {}
			.comment-author-admin {}

	} /* end children */


	&[class*=depth-] {
		margin-top: 1.1em;
	}

	&.depth-1 {
		margin-left: 0;
		margin-top: 0;
	}

	&:not(.depth-1) {
		margin-top: 0;
		margin-left: 7px;
		padding: 7px;
	}

	&.depth-2 {}
	&.depth-3 {}
	&.depth-4 {}
	&.depth-5 {}

	/* general comment classes */
	&.alt {}
	&.odd {
		background-color: $white;
	}
	&.even {
		background: $gray_light;
	}
	&.parent {}
	&.comment {}
	&.children {}
	&.pingback {}
	&.bypostauthor {}
	&.comment-author {}
	&.comment-author-admin {}
	&.thread-alt {}
	&.thread-odd {}
	&.thread-even {}
}




/* comment meta */
.comment-meta {

	a {}

}

.commentmetadata {

	a {}

}

/* comment content */
.comment_content {

	p {
		margin: 0.7335em 0 1.5em;
		font-size: 1em;
		line-height: 1.5em;
	}

} /* end .commentlist .comment_content */

/* comment reply link */
.comment-reply-link {
	@extend .btn;
	font-size: 0.9em;
	float: right;

	&:hover,
	&:focus {
	}

} /* end .commentlist .comment-reply-link */

/* edit comment link */
.comment-edit-link {
	font-style: italic;
	margin: 0 7px;
	text-decoration: none;
	font-size: 0.9em;
}



/******************************************************************
COMMENT FORM STYLES
******************************************************************/

.comment-respond {
	@extend .cf;
	padding: 1.5em;
	border-top: 1px solid $gray_light;
}

#reply-title {
	margin: 0;
}

.logged-in-as {
	color: $gray;
	font-style: italic;
	margin: 0;

	a {
		color: $text_color;
	}
}

.comment-form-comment {
	margin: 1.5em 0 0.75em;
}

.form-allowed-tags {
	padding: 1.5em;
	background-color: $gray_light;
	font-size: 0.9em;
}

/* comment submit button */
#submit {
	@extend .btn;
	float: right;
	font-size: 1em;
}

/* comment form title */
#comment-form-title {
	margin: 0 0 1.1em;
}

/* cancel comment reply link */
#cancel-comment-reply {
	a {}
}

/* logged in comments */
.comments-logged-in-as {}

/* allowed tags */
#allowed_tags {
	margin: 1.5em 10px 0.7335em 0;
}

/* no comments */
.nocomments {
	margin: 0 20px 1.1em;
}
