/*********************
FOOTER STYLES
*********************/

.footer {
	clear: both;
	text-align: center;
	padding: 2em 0;

	.footer-nav {
		li {
			list-style: none;
			a {
				display: block;
				padding: .5em;
			}
		}
	}

	.copyright {
		clear: both;
	}
@include breakpoint(medium) {
	.footer-nav {
		li {
			display: inline-block;
		}
	}
}
}