/*********************
FOOTER STYLES
*********************/

.footer {
	clear: both;
	background-color: #eee;
	text-align: center;
	padding: 2em;

	.footer-nav {
		li {
			//display: inline-block;
		}
	}

	.copyright {
		clear: both;
	}

}