/******************************************************************

Stylesheet: Golden Grid

******************************************************************/

.goldlarge {
	display: block;
}
.goldsmall {
	display: block;
}


@include breakpoint(medium) {
.goldlarge {
	float: left;
	width: 61.803398875%;
}
.goldsmall {
	float: right;
	width: 38.196601125%;
}
}

// the first column
.firstcol,
.first-col {
	clear: left;
	float: left;
}

// the last column
.lastcol,
.last-col {
	float: right;
}