/******************************************************************

Stylesheet: Grid

******************************************************************/

@mixin grid-col {
	float: left;
	padding-right: 0.75em;
}

// the last column
.lastcol,
.last-col {
	float: right !important;
	padding-right: 0 !important;
}

// Simple Golden Ratio
.goldlarge {
	width: 61.803398875%;
	@include grid-col;
}
.goldsmall {
	width: 38.196601125%;
	@include grid-col;
}

@include breakpoint(small)
{
	.s-all {
		@include grid-col;
		width: 100%;
		padding-right: 0;
	}

	.s-1of6 {
		@include grid-col;
		width: 16.6666667%;
	}
	.s-2of6 {
		@include grid-col;
		width: 33.3333333%;
	}
	.s-3of6 {
		@include grid-col;
		width: 50%;
	}
	.s-4of6 {
		@include grid-col;
		width: 66.6666667%;
	}
	.s-5of6 {
		@include grid-col;
		width: 83.3333333%;
	}
}

@include breakpoint(medium)
{
	.m-all {
		@include grid-col;
		width: 100%;
		padding-right: 0;
	}

	.m-1of12 {
		@include grid-col;
		width: 8.33%;
	}
	.m-2of12 {
		@include grid-col;
		width: 16.6666666667%;
	}
	.m-3of12 {
		@include grid-col;
		width: 25%;
	}
	.m-4of12 {
		@include grid-col;
		width: 33.33%;
	}
	.m-5of12 {
		@include grid-col;
		width: 41.6666667%;
	}
	.m-6of12 {
		@include grid-col;
		width: 50%;
	}
	.m-7of12 {
		@include grid-col;
		width: 58.3333333%;
	}
	.m-8of12 {
		@include grid-col;
		width: 66.66%;
	}
	.m-9of12 {
		@include grid-col;
		width: 75%;
	}
	.m-10of12 {
		@include grid-col;
		width: 83.3333333%;
	}
	.m-11of12 {
		@include grid-col;
		width: 91.6666667%;
	}
}

@include breakpoint(large)
{
	.l-all  {
		@include grid-col;
		width: 100%;
		padding-right: 0;
	}

	.onecol,
	.l-1of12 {
		@include grid-col;
		width: 8.33%;
	}
	.twocol,
	.l-2of12 {
		@include grid-col;
		width: 16.6666666667%;
	}
	.threecol,
	.l-3of12 {
		@include grid-col;
		width: 25%;
	}
	.fourcol,
	.l-4of12 {
		@include grid-col;
		width: 33.33%;
	}
	.fivecol,
	.l-5of12 {
		@include grid-col;
		width: 41.6666667%;
	}
	.sixcol,
	.l-6of12 {
		@include grid-col;
		width: 50%;
	}
	.sevencol,
	.l-7of12 {
		@include grid-col;
		width: 58.3333333%;
	}
	.eightcol,
	.l-8of12 {
		@include grid-col;
		width: 66.66%;
	}
	.ninecol,
	.l-9of12 {
		@include grid-col;
		width: 75%;
	}
	.tencol,
	.l-10of12 {
		@include grid-col;
		width: 83.3333333%;
	}
	.elevencol,
	.l-11of12 {
		@include grid-col;
		width: 91.6666667%;
	}
}