/*********************
HEADER STYLES
*********************/

.header {
	background: $gray_lighter;
	border-bottom: 1px solid $gray_light;
	text-align: center;
	#logo {
		margin: 1em;
	}
	.search-form {
		display: none; // hide before pressing #search-toggle
	}
}

#mobilemenu, #search-toggle {
	display: block;
	float: left;
	text-decoration: none;
	color: $link_color;
	cursor: pointer;
	font-size: 32px;
	&:hover, &:focus {
		color: $link_hover;
	}
}
#search-toggle {
	float: right;
}


@include breakpoint(medium) {
	#mobilemenu {
		display: none;
	}
}


/*********************
HEADROOM STYLES
*********************/
/*
@include breakpoint(large) {

	#headroom{
	    position:fixed;
	    width:100%;
	    background: red;
	    transition: transform .2s linear;
	}
	
	.slideDown {
	   transform: translateY(0%);
	}
	.slideUp {
	   transform: translateY(-100%);
	}
}
*/


/*********************
NAVIGATION STYLES
*********************/

.main-nav {
	margin: 0;
	display: none;
	clear: both;
	li {
		a, a:visited {
			display: block;
			text-decoration: none;
			padding: 1em;
			&:hover, &:focus {
			}
		}

		ul.sub-menu,
		ul.children {
			li {
				a, a:visited {
					padding-left: 30px;
				}
			}
		}
	}

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current-page-ancestor {
		a, a:visited {
			
		}
	}
	
@include breakpoint(medium) {
	display: block !important;
	clear: none;
	li {
		display: inline-block;
		vertical-align: top;
		position: relative;
		text-align: left;
		ul.sub-menu,
		ul.children {
			margin-top: 0;
			border: 1px solid $gray_light;
			background: $gray_lighter;
			border-top: 0;
			position: absolute;
			z-index: 999;
			overflow: hidden;
			visibility: hidden;
			opacity: 0;
			transition: visibility $ease, opacity $ease;
			li {
				a, a:visited {
					padding-left: 1em;
					border-right: 0;
					display: block;
					width: 180px;
				}
			}
		}
		/* showing sub-menus */
		&:hover ul {
			top: auto;
			overflow: visible;
			visibility:visible;
			opacity: 1;
		}
	}
}
}
