/*********************
HEADER STYLES
*********************/

.header {
	background: $gray_lighter;
	#logo {
		margin: 1em;
	}
}


/*********************
HEADROOM STYLES
*********************/
/*
@include breakpoint(large) {

	#headroom{
	    position:fixed;
	    width:100%;
	    background: red;
	    transition: transform .2s linear;
	}
	
	.slideDown {
	   transform: translateY(0%);
	}
	.slideUp {
	   transform: translateY(-100%);
	}
}
*/


/*********************
NAVIGATION STYLES
*********************/

.main-nav {
	margin: 0;
	li {
		a, a:visited {
			display: block;
			text-decoration: none;
			padding: 1em;
			&:hover, &:focus {
			}
		}

		ul.sub-menu,
		ul.children {
			li {
				a, a:visited {
					padding-left: 30px;
				}
			}
		}
	}

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current-page-ancestor {
		a, a:visited {
			
		}
	}
	
@include breakpoint(medium) {
	li {
		float: left;
		position: relative;
		ul.sub-menu,
		ul.children {
			margin-top: 0;
			border: 1px solid $gray;
			background: white;
			border-top: 0;
			position: absolute;
			overflow: hidden;
			visibility: hidden;
			z-index: 8999;
			li {
				a, a:visited {
					padding-left: 10px;
					border-right: 0;
					display: block;
					width: 180px;
				}
			}
		}
		/* showing sub-menus */
		&:hover ul {
			top: auto;
			overflow: visible;
			visibility:visible;
		}
	}
}
}

#mobilemenu {
	display: block;
	float: right;
	text-align: right;
	text-decoration: none;
	color: $link_color;
	cursor: pointer;
	font-size: 32px;
	&:hover, &:focus {
		color: $link_hover;
	}
}

.main-nav {
	display: none;
}

@include breakpoint(medium) {
	#mobilemenu {
		display: none;
	}
	.main-nav {
		display: block !important;
	}
}
