@include breakpoint(large) {

	#header{
	    position:fixed;
	    width:100%;
	    background: red;
	    transition: transform .2s linear;
	}
	
	.slideDown {    //pinned
	   transform: translateY(0%);
	}
	.slideUp {        //unpinned
	   transform: translateY(-100%);
	}

}