/******************************************************************

Stylesheet: Mixins

******************************************************************/

/*********************
FONT STACKS
*********************/
$sans_serif:        "Gotham", "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif:             "Georgia", Cambria, Times New Roman, Times, serif;


/*********************
COLORS
*********************/

$alert_blue:        #d9edf7;
$alert_green:       #dff0d8;
$alert_red:         #f2dede;
$alert_yellow:      #fcf8e3;

$black:             #222;
$white:             #fff;

$gray:              #999;
$gray_light:        #EEF0F4;
$gray_dark:         #58585b;
$gray_disabled:     #595d65;
$text_color:        #333;

$green: 	        #669933;
$orange: 	        #ff9933;
$blue:              #2980b9;

$link_color:        $green;
$link_hover:        lighten($link_color, 10%);



/*********************
BUTTONS
*********************/

%btn {
	display: inline-block;
	position: relative;
	font-family: $sans_serif;
	text-decoration: none;
	color: $white;
	font-size: .9em;
	font-weight: bold;
	line-height: 2em;
	padding: 0 1em;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.2s ease-in-out;

	&:hover, &:focus {
		color: $white;
		text-decoration: none;
	}

	&:active {
		top: 1px;
	}

}

.search-submit,
.form-submit input,
.button {
	@extend %btn;
	background-color: $link_color;

	&:hover,
	&:focus {
		background-color: lighten($link_color, 10%);
	}

	&:active {
		background-color: darken($link_color, 5%);
	}

}

