/******************************************************************

Stylesheet: Mixins

******************************************************************/

/*********************
FONT STACKS
*********************/
$sans_serif:        "Gotham", "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif:             "Georgia", Cambria, Times New Roman, Times, serif;


/*********************
COLORS
*********************/

$black:             #111;
$white:             #fff;

$gray_lighter:		#eee;
$gray_light:		#999;
$gray:              #666;
$gray_dark:         #333;

$green: 	        #669933;
$green_dark:		#1b801b;
$orange: 	        #ff9933;
$blue:              #2980b9;

$text_color:        $gray_dark;
$link_color:        $green;
$link_hover:        lighten($link_color, 10%);


/*********************
REUSABLE ITEMS
*********************/

$spacing:    		80px;
$default_margin:    1.5em;

$ease:				.2s ease-in-out;
$easeslow:			.6s ease-in;

// INLINE-BLOCK
// inline-block support for legacy browsers
@mixin inline-block($position: middle) {
	display: inline-block;
	vertical-align: $position;
	@include old-ie {
		zoom: 1;
		*display: inline;
	}
}

// Contain floats: nicolasgallagher.com/micro-clearfix-hack/
.clearfix, .cf {
	zoom: 1;
	&:before, &:after { 
		content: ""; 
		display: table; 
	}
	&:after { 
		clear: both; 
	}
}


/*********************
BREAKPOINTS
*********************/

// FOR OLD IE
$old-ie:			false !default;

// BREAK POINTS
$small:				"screen and (min-width: 30em)"; // 480px
$medium:			"screen and (min-width: 48em)";	// 768px
$large:				"screen and (min-width: 64em)";	// 1024px
$xlarge:			"screen and (min-width: 75em)";	// 1200px
$xxlarge:			"screen and (min-width: 90em)";	// 1440px

@mixin breakpoint($point) {
	@if $old-ie {
		@if ($point == xlarge or $point == xxlarge) {
			// output nothing to IE stylesheet from xlarge or xxlarge
		}
		@else {
			@content; // output all content passed in
		}
	}
	@else {
		@if $point == xxlarge {
			@media #{$xxlarge} { @content; }	// output xxlarge screen content
		}
		@if $point == xlarge {
			@media #{$xlarge} { @content; }		// output xlarge screen content
		}
		@if $point == large {
			@media #{$large} { @content; }		// output large screen content
		}
		@if $point == medium {
			@media #{$medium} { @content; }		// output medium screen content
		}
		@if $point == small {
			@media #{$small} { @content; }		// output small screen content
		}
	}
}