/******************************************************************

Stylesheet: Typography

******************************************************************/

/*********************
FONT FACE
*********************/

/* @font-face {
  font-family: 'Font Name';
  src: url('../fonts/font-name.eot');
  src: url('../fonts/font-name.eot?#iefix') format('embedded-opentype'),
         url('../fonts/font-name.woff') format('woff'),
         url('../fonts/font-name.ttf') format('truetype'),
         url('../fonts/font-name.svg?#font-name') format('svg');
  font-weight: normal;
  font-style: normal;
} 
*/

/*********************
FONT STACKS
*********************/
$sans_serif:        "Gotham", "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif:             "Georgia", Cambria, Times New Roman, Times, serif;




/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	clear: both;
	a, a:visited {
		text-decoration: none;
	}
}

h1, .h1 {
	font-size: 2em;
	line-height: 1.5em;
	margin: 0.4em 0;
}

h2, .h2 {
	font-size: 1.5em;
	line-height: 1.5em;
	margin: 0.571428571em 0;		// 16px at medium
}

h3, .h3 {
	font-size: 1.375em;
	margin: 0.666666667em 0;		// 16px at medium
}

h4, .h4 {
	font-size: 1.25em;				// 20px
	font-weight: 700;
	margin: 0.8em 0;				// 16px
}

h5, .h5 {
	font-size: 1.125em;				// 18px
	text-transform: uppercase;
	letter-spacing: 2px;
	margin: 0.888888889em 0;		// 16px
}

@include breakpoint(medium) {
h1, .h1 {
	font-size: 2.5em;				// 40px
}

h2, .h2 {
	font-size: 1.75em;				// 28px
}

h3, .h3 {
	font-size: 1.5em;				// 24px
}
}


/******************************************************************
BASE ELEMENTS
******************************************************************/

p {
	margin: 0 0 $default_margin;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: 0 0 $default_margin 1em;
	padding: 0 0 0 1em;
	border-left: 3px solid $link_color;
	font-style: italic;
	color: $gray;
	&:before {}
}

address {
	margin: 0 0 $default_margin;
}

pre {
	background: $black;
	color: $gray_light;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 0.9em;
	margin: 0 0 $default_margin;
	max-width: 100%;
	padding: 1em;
	overflow: auto;
}

abbr, acronym {
	cursor: help;
}

mark, ins {
	background: #fff9c0;
	text-decoration: none;
}

/* post meta */
.byline {
	color: $gray;
	font-style: italic;
	margin: 0;
}

// big first letter: class adding through wysiwyg
.intro {
	//font-size: 1.25em;
	&:first-child:first-letter {
		float: left;
		font-size: 3.25em;
		line-height: .75em;
		padding: 5px 12px 0 3px;
		font-family: $serif;
		color: $black;
	}
}

// keep phrase from breaking to 2nd line: class adding through wysiwyg
.nowrap {
	display: inline-block;
}
