/******************************************************************

Stylesheet: Typography

******************************************************************/


/******************************************************************
FONT BASE
******************************************************************/

body {
	font-size: 100%;
	line-height: 1.5;
	color: $text_color;
	font-family: $sans_serif;
}


/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	clear: both;

	a, a:visited {
		text-decoration: none;
	}
}

h1, .h1 {
	font-size: 2.5em;				// 40px
	line-height: 1.5em;				// 60px
	margin: 0.4em 0;				// 16px
}

h2, .h2 {
	font-size: 1.75em;				// 28px
	line-height: 1.5em;				// 42px
	margin: 0.571428571em 0;		// 16px
}

h3, .h3 {
	font-size: 1.5em;				// 24px
	margin: 0.666666667em 0;		// 16px
}

h4, .h4 {
	font-size: 1.25em;				// 20px
	font-weight: 700;
	margin: 0.8em 0;				// 16px
}

h5, .h5 {
	font-size: 1.125em;				// 18px
	text-transform: uppercase;
	letter-spacing: 2px;
	margin: 0.888888889em 0;		// 16px
}

/******************************************************************
PARAGRAPH PAGE BREAKS

Currently this configuration has a bad effect on IE11, but are here 
as a reference for pagebreak customization
****************************************************************** /

p {
  -ms-word-break: break-all;
   -ms-word-wrap: break-all;
      word-break: break-word;
  // cleaning up the ragged lines and breaks
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
          hyphens: auto;
  // sets a minimum number of characters before and after the break
  -webkit-hyphenate-before: 2;
   -webkit-hyphenate-after: 3;
           hyphenate-lines: 3;
  // enabling fancy ligatures when available
  -webkit-font-feature-settings: "liga", "dlig";
     -moz-font-feature-settings: "liga=1, dlig=1";
      -ms-font-feature-settings: "liga", "dlig";
       -o-font-feature-settings: "liga", "dlig";
          font-feature-settings: "liga", "dlig";
}


/******************************************************************
BASE ELEMENTS
******************************************************************/

p {
	margin: 0 0 $default_margin;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: 0 0 $default_margin 1em;
	padding: 0 0 0 1em;
	border-left: 3px solid $link_color;
	font-style: italic;
	color: $gray;
	&:before {}
}

address {
	margin: 0 0 $default_margin;
}

pre {
	background: $black;
	color: $gray_light;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 0.9em;
	margin: 0 0 $default_margin;
	max-width: 100%;
	padding: 1em;
	overflow: auto;
}

abbr, acronym {
	cursor: help;
}

mark, ins {
	background: #fff9c0;
	text-decoration: none;
}


/******************************************************************
ENTRY CONTENT
******************************************************************/

.entry-content {

	ul, ol {
		margin: 0 0 $default_margin 2em;
	}

	ul {
		list-style: disc;
	}

	ol {
		list-style: decimal;
	}

	li {
		& > ul,
		& > ol {
			margin-bottom: 0;
			margin-left: 1em;
		}
	}

	dt {
		font-weight: bold;
	}

	dd {
		margin: 0 1em $default_margin;
	}

	table {
		margin: 0 0 $default_margin;
		width: 100%;
	}

	th {
		font-weight: bold;
	}

} /* end .entry-content */


/******************************************************************
CUSTOM
******************************************************************/
