/******************************************************************

Stylesheet: Variables

******************************************************************/

/*********************
COLORS
*********************/

$black:             #222;
$white:             #fff;

$light-gray:        #eee;
$gray:              #ccc;
$text-color:        #333;
$meta-gray:         #999;
$disabled-gray:     #ddd;

$green: 	        #669933;
$orange: 	        #ff9933;
$blue:              #2980b9;

$link-color:        $green;
$link-hover:        darken($link-color, 9%);


