/******************************************************************

Stylesheet: Variables

******************************************************************/

/*********************
COLORS
*********************/

$black:             #323944;
$white:             #fff;

$light-gray:        #f8f9fa;
$gray:              #eaedf2;
$text-color:        #5c6b80;
$meta-gray:         #9fa6b4;

$tan:               #eceee5;

$green:             #7dd667;

$bones-pink:        #f01d4f;
$blue:              #2980b9;

$link-color:        blue;
$link-hover:        darken($link-color, 9%);

$disabled-gray:     #cfcfcf;

