/******************************************************************

Stylesheet: Variables

******************************************************************/

/*********************
FONTS
*********************/
$sans_serif: 		"Helvetica Neue", Helvetica, Arial, sans-serif;
$serif:				"Georgia", Cambria, Times, serif;
$headline: 			'DIN', sans-serif;


/*********************
COLORS
*********************/

$black:             #111;
$white:             #fff;

$gray_lighter:		#eee;
$gray_light:		#999;
$gray:              #666;
$gray_dark:         #333;

$gold:				#e8c200;
$green: 	        #669933;
$green_dark:		#1b801b;
$orange: 	        #ff9933;
$blue:              #2980b9;
$red:				#d3033d;

$text_color:        $gray_dark;
$link_color:        $green;
$link_hover:        lighten($link_color, 10%);


/*********************
REUSABLE ITEMS
*********************/

$spacing:    		80px;
$default_margin:    1.5em;

$shadow: 			1px 4px 8px rgba(black, .2);
$ease:				.2s ease-in-out;
$easeslow:			.6s ease-in;


// Contain floats
.clearfix, .cf {
	zoom: 1;
	&:before, &:after { 
		content: ""; 
		display: table; 
	}
	&:after { 
		clear: both; 
	}
}

// Better support for screen readers with icons
.screen-reader-text {
	left: -9999em !important;
	position: absolute !important;
	top: -9999em !important;
}

// keep phrase from breaking to 2nd line: class adding through wysiwyg
.nowrap {
	display: inline-block;
}


/*********************
BREAKPOINTS
*********************/

$small:		"screen and (min-width: 30em)"; // 480px
$medium:	"screen and (min-width: 48em)";	// 768px
$large:		"screen and (min-width: 64em)";	// 1024px
$xlarge:	"screen and (min-width: 75em)";	// 1200px
$xxlarge:	"screen and (min-width: 90em)";	// 1440px

@mixin breakpoint($point) {
	@if $point == xxlarge {
		@media #{$xxlarge} { @content; }	// xxlarge screen content
	}
	@if $point == xlarge {
		@media #{$xlarge} { @content; }		// xlarge screen content
	}
	@if $point == large {
		@media #{$large} { @content; }		// large screen content
	}
	@if $point == medium {
		@media #{$medium} { @content; }		// medium screen content
	}
	@if $point == small {
		@media #{$small} { @content; }		// small screen content
	}
}
