/******************************************************************

Stylesheet: WP Images

******************************************************************/

/******************************************************************
ENTRY CONTENT IMAGES
******************************************************************/

.entry-content {
	img {
		margin: 0 0 $default_margin;
		max-width: 100%;
		height: auto;
	}
}

.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
	max-width: 100%;
	height: auto;
}

@include breakpoint(small) {
	.alignleft, img.alignleft, figure.alignleft, dl.alignleft {
		display: inline;
		float: left;
		margin-left: 0em;
		margin-right: $default_margin;
	}
	.alignright, img.alignright, figure.alignright, dl.alignright {
		display: inline;
		float: right;
		margin-left: $default_margin;
		margin-right: 0em;
	}
	.aligncenter, img.aligncenter, figure.aligncenter, dl.aligncenter {
		clear: both;
		display: block;
		margin-right: auto;
		margin-left: auto;
	}
}

.alignnone, img.alignnone, figure.alignnone, dl.alignnone, .alignnone img  {
	margin-left: 0;
	margin-right: 0;
	// width: 100% !important;
	height: auto;
}

/******************************************************************
CAPTIONS
******************************************************************/

.wp-caption {
	max-width: 100%;
	background: $gray_light;
	font-size: 0.75em;
	padding: 0.25em 0;
	text-align: center;
	
	&.alignleft {
		margin-right: $default_margin;
	}
	&.alignright {
		margin-left: $default_margin;
	}
	&.aligncenter {
		margin-right: auto;
		margin-left: auto;
	}

	/* images inside wp-caption */
	img {
		max-width: 100%;
		// width: 100%;
		height: auto;
		margin-bottom: 0;
	}

	.wp-caption-text {
		font-size: 0.875em;
		margin: .5em 0 1em;
		text-align: center;
	}
}


/******************************************************************
RESPONSIVE VIDEO CONTAINER
******************************************************************/

.video-container { 
	position: relative; 
	padding-bottom: 56.25%; 
	height: 0; 
	overflow: hidden;
	margin-bottom: 1em;
}

.video-container iframe, 
.video-container object, 
.video-container embed, 
.video-container video { 
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%; 
}


/******************************************************************
HTML5 IMAGE GALLERY
******************************************************************/

.gallery {
	text-align: justify;
	.gallery-item {
		margin: 0;
		width: 50%;
		display: inline-block;
		vertical-align: top;
		padding: .5em;
		// outline: none;
	}
	img {
		display: block;
	}
	.gallery-caption {
		text-align: left;
		padding: .25em 0;
	}
	&:after {
	    content: '';
	    display: inline-block;
	    width: 100%;
	}
@include breakpoint(medium) {
	.gallery-item {
		width: 25%;
	}
	img {
		will-change: opacity; // transform
		&:hover {
			opacity: .7;
			transition: opacity $ease;
		}
	}
}
}