/******************************************************************

Stylesheet: WP Editor Stylesheet 

******************************************************************/
/*********************
REMOVES MEDIA QUERIES
*********************/
/*********************
IMPORTING MODULES
*********************/
/******************************************************************

Stylesheet: Variables

******************************************************************/
/*********************
FONTS
*********************/
/*********************
COLORS
*********************/
/*********************
REUSABLE ITEMS
*********************/
.clearfix, .cf {
  zoom: 1; }
  .clearfix:before, .clearfix:after, .cf:before, .cf:after {
    content: "";
    display: table; }
  .clearfix:after, .cf:after {
    clear: both; }

.screen-reader-text {
  left: -9999em !important;
  position: absolute !important;
  top: -9999em !important; }

.nowrap {
  display: inline-block; }

/*********************
BREAKPOINTS
*********************/
/******************************************************************

Stylesheet: Typography

******************************************************************/
body {
  font-size: 100%;
  line-height: 1.5;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

/*********************
FONT FACE
*********************/
/* @font-face {
  font-family: 'Font Name';
  font-display: auto;
  font-weight: normal;
  font-style: normal;
  src: local('Arial'), url('../fonts/font-name.eot');
  src: url('../fonts/font-name.eot?#iefix') format('embedded-opentype'),
         url('../fonts/font-name.woff') format('woff'),
         url('../fonts/font-name.ttf') format('truetype'),
         url('../fonts/font-name.svg?#font-name') format('svg');
} 
*/
/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  clear: both;
  margin-top: 16px;
  margin-bottom: 16px; }
  h1 a, h1 a:visited, .h1 a, .h1 a:visited, h2 a, h2 a:visited, .h2 a, .h2 a:visited, h3 a, h3 a:visited, .h3 a, .h3 a:visited, h4 a, h4 a:visited, .h4 a, .h4 a:visited, h5 a, h5 a:visited, .h5 a, .h5 a:visited, h6 a, h6 a:visited, .h6 a, .h6 a:visited {
    text-decoration: none; }

h1, .h1 {
  font-size: 2em;
  line-height: 1.5em; }

h2, .h2 {
  font-size: 1.5em;
  line-height: 1.5em; }

h3, .h3 {
  font-size: 1.25em; }

h4, .h4 {
  font-size: 1.125em; }

h5, .h5 {
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 2px; }

h6, .h6 {
  font-size: .875em;
  text-transform: uppercase;
  letter-spacing: 2px; }

@media screen and (min-width: 48em) {
  h1, .h1 {
    font-size: 2.5em; }
  h2, .h2 {
    font-size: 1.75em; }
  h3, .h3 {
    font-size: 1.37em; } }

/*********************
ENTRY CONTENT
*********************/
.entryContent p {
  margin: 0 0 1.5em; }

.entryContent ul, .entryContent ol {
  margin: 0 0 1.5em 2em; }

.entryContent ul {
  list-style: disc; }

.entryContent ol {
  list-style: decimal; }

.entryContent li > ul,
.entryContent li > ol {
  margin-bottom: 0;
  margin-left: 1em; }

.entryContent dt {
  font-weight: bold; }

.entryContent dd {
  margin: 0 1em 1.5em; }

.entryContent table {
  margin: 0 0 1.5em;
  width: 100%; }

.entryContent th {
  font-weight: bold; }

/*********************
BASE ELEMENTS
*********************/
.byline {
  font-size: .75em;
  margin: 1em 0; }

dfn, cite, em, i {
  font-style: italic; }

blockquote {
  margin: 0 0 1.5em 1em;
  padding: 0 0 0 1em;
  border-left: 3px solid #1b801b;
  font-style: italic;
  font-family: "Georgia", Cambria, Times, serif;
  color: #666; }

address {
  margin: 0 0 1.5em; }

pre {
  background: #111;
  color: #999;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 0.9em;
  margin: 0 0 1.5em;
  max-width: 100%;
  padding: 1em;
  overflow: auto; }

abbr, acronym {
  cursor: help; }

mark, ins {
  background: #fff9c0;
  text-decoration: none; }

/*********************
CUSTOM EDITOR STYLES
*********************/
.nowrap {
  border: 1px solid #eee;
  display: inline-block; }

.button {
  padding: 3px 6px;
  font-weight: bold;
  color: #fff;
  background: #1b801b;
  text-decoration: none; }

.small {
  font-size: .75em; }

.mce-menu .mce-menu-item.mce-selected {
  color: red !important;
  border: 2px solid yellow; }
