/******************************************************************

Stylesheet: WP Editor Stylesheet 

******************************************************************/
/*********************
REMOVES MEDIA QUERIES
*********************/
/*********************
IMPORTING MODULES
*********************/
/******************************************************************

Stylesheet: Mixins

******************************************************************/
/*********************
FONT STACKS
*********************/
/*********************
COLORS
*********************/
/*********************
REUSABLE ITEMS
*********************/
.clearfix, .cf {
  zoom: 1; }
  .clearfix:before, .clearfix:after, .cf:before, .cf:after {
    content: "";
    display: table; }
  .clearfix:after, .cf:after {
    clear: both; }

/*********************
BREAKPOINTS
*********************/
/******************************************************************

Stylesheet: Fonts and Icons

******************************************************************/
/************************************************
Better support for screen readers with icons
see header.php for an example usage
************************************************/
.screen-reader-text {
  left: -9999em !important;
  position: absolute !important;
  top: -9999em !important; }

/*********************
FONT FACE
*********************/
/* @font-face {
  font-family: 'Font Name';
  src: url('../fonts/font-name.eot');
  src: url('../fonts/font-name.eot?#iefix') format('embedded-opentype'),
         url('../fonts/font-name.woff') format('woff'),
         url('../fonts/font-name.ttf') format('truetype'),
         url('../fonts/font-name.svg#font-name') format('svg');
  font-weight: normal;
  font-style: normal;
} 
*/
/************************************************
Icon font example from http://icomoon.io/app/
************************************************/
@font-face {
  font-family: 'egg_ico';
  src: url('../fonts/egg_icons.eot?-1d3v7n');
  src: url('../fonts/egg_icons.eot?#iefix-1d3v7n') format('embedded-opentype'), url('../fonts/egg_icons.woff?-1d3v7n') format('woff'), url('../fonts/egg_icons.ttf?-1d3v7n') format('truetype'), url('../fonts/egg_icons.svg?-1d3v7n#egg_icons') format('svg');
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'egg_ico';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-search:before {
  content: "\6f"; }

.icon-phone:before {
  content: "\50"; }

.icon-menu:before {
  content: "\3d"; }

.icon-cancel-circle:before {
  content: "\78"; }

.icon-play:before {
  content: "\70"; }

.icon-arrow-up:before {
  content: "\5e"; }

.icon-arrow-right:before {
  content: "\3e"; }

.icon-arrow-down:before {
  content: "\76"; }

.icon-arrow-left:before {
  content: "\3c"; }

.icon-email:before {
  content: "\e600"; }

.icon-googleplus:before {
  content: "\e601"; }

.icon-facebook:before {
  content: "\e602"; }

.icon-twitter:before {
  content: "\e603"; }

.icon-linkedin:before {
  content: "\e604"; }

.icon-pinterest:before {
  content: "\e605"; }

/******************************************************************

Stylesheet: Typography

******************************************************************/
/******************************************************************
FONT BASE
******************************************************************/
body {
  font-size: 100%;
  line-height: 1.5;
  color: #333;
  font-family: "Gotham", "Helvetica Neue", Helvetica, Arial, sans-serif; }

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
  clear: both; }
  h1 a, h1 a:visited, .h1 a, .h1 a:visited, h2 a, h2 a:visited, .h2 a, .h2 a:visited, h3 a, h3 a:visited, .h3 a, .h3 a:visited, h4 a, h4 a:visited, .h4 a, .h4 a:visited, h5 a, h5 a:visited, .h5 a, .h5 a:visited {
    text-decoration: none; }

h1, .h1 {
  font-size: 2em;
  line-height: 1.5em;
  margin: 0.4em 0; }

h2, .h2 {
  font-size: 1.5em;
  line-height: 1.5em;
  margin: 0.57143em 0; }

h3, .h3 {
  font-size: 1.375em;
  margin: 0.66667em 0; }

h4, .h4 {
  font-size: 1.25em;
  font-weight: 700;
  margin: 0.8em 0; }

h5, .h5 {
  font-size: 1.125em;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0.88889em 0; }

@media screen and (min-width: 48em) {
  h1, .h1 {
    font-size: 2.5em; }
  h2, .h2 {
    font-size: 1.75em; }
  h3, .h3 {
    font-size: 1.5em; } }

/******************************************************************
BASE ELEMENTS
******************************************************************/
p {
  margin: 0 0 1.5em; }

dfn, cite, em, i {
  font-style: italic; }

blockquote {
  margin: 0 0 1.5em 1em;
  padding: 0 0 0 1em;
  border-left: 3px solid #669933;
  font-style: italic;
  color: #666; }

address {
  margin: 0 0 1.5em; }

pre {
  background: #111;
  color: #999;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 0.9em;
  margin: 0 0 1.5em;
  max-width: 100%;
  padding: 1em;
  overflow: auto; }

abbr, acronym {
  cursor: help; }

mark, ins {
  background: #fff9c0;
  text-decoration: none; }

/* post meta */
.byline {
  color: #666;
  font-style: italic;
  margin: 0; }

.intro:first-child:first-letter {
  float: left;
  font-size: 3.25em;
  line-height: 0.75em;
  padding: 5px 12px 0 3px;
  font-family: "Georgia", Cambria, Times New Roman, Times, serif;
  color: #111; }

.nowrap {
  display: inline-block; }

/******************************************************************
ENTRY CONTENT
******************************************************************/
.entry-content ul, .entry-content ol {
  margin: 0 0 1.5em 2em; }
.entry-content ul {
  list-style: disc; }
.entry-content ol {
  list-style: decimal; }
.entry-content li > ul, .entry-content li > ol {
  margin-bottom: 0;
  margin-left: 1em; }
.entry-content dt {
  font-weight: bold; }
.entry-content dd {
  margin: 0 1em 1.5em; }
.entry-content table {
  margin: 0 0 1.5em;
  width: 100%; }
.entry-content th {
  font-weight: bold; }

/* end .entry-content */
/******************************************************************

Stylesheet: Button Styles

******************************************************************/
/*********************
BUTTONS
*********************/
.form-submit input, .button, .button:visited {
  display: inline-block;
  position: relative;
  font-family: "Gotham", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration: none;
  font-size: 0.875em;
  font-weight: bold;
  line-height: 1em;
  padding: 1em;
  border-radius: 2px;
  cursor: pointer;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out; }

.form-submit input, .button, .button:visited {
  background-color: #669933;
  border: 1px solid #669933;
  color: white; }
  .form-submit input:hover, .form-submit input:focus, .button:hover, .button:focus, .button:visited:hover, .button:visited:focus {
    background-color: #8cc653;
    color: white;
    text-decoration: none; }
  .form-submit input:active, .button:active, .button:visited:active {
    background-color: #4d7326;
    color: white; }

/*********************
CUSTOM EDITOR STYLES
*********************/
.nowrap {
  border: 1px solid #eee;
  display: inline-block; }
