/******************************************************************

Stylesheet: WP Editor Stylesheet 

******************************************************************/
/*********************
REMOVES MEDIA QUERIES
*********************/
/*********************
IMPORTING MODULES
*********************/
/******************************************************************

Stylesheet: Mixins

******************************************************************/
/*********************
FONT STACKS
*********************/
/*********************
COLORS
*********************/
/*********************
REUSABLE ITEMS
*********************/
/*********************
BUTTONS
*********************/
.form-submit input, .search-submit, .search-submit:visited, .button, .button:visited {
  display: inline-block;
  position: relative;
  font-family: "Gotham", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration: none;
  font-size: 0.875em;
  font-weight: bold;
  line-height: 1em;
  padding: 1em;
  border-radius: 2px;
  cursor: pointer;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out; }

.form-submit input, .search-submit, .search-submit:visited, .button, .button:visited {
  background-color: #669933;
  color: white; }
  .form-submit input:hover, .form-submit input:focus, .search-submit:hover, .search-submit:focus, .search-submit:visited:hover, .search-submit:visited:focus, .button:hover, .button:focus, .button:visited:hover, .button:visited:focus {
    background-color: #8cc653;
    color: white;
    text-decoration: none; }
  .form-submit input:active, .search-submit:active, .search-submit:visited:active, .button:active, .button:visited:active {
    background-color: #4d7326;
    color: white; }

/*********************
BREAKPOINTS
*********************/
/******************************************************************

Stylesheet: Fonts and Icons

******************************************************************/
/************************************************
Better support for screen readers with icons
see header.php for an example usage
************************************************/
.screen-reader-text {
  left: -9999em !important;
  position: absolute !important;
  top: -9999em !important; }

/*********************
FONT FACE
*********************/
/* @font-face {
  font-family: 'Font Name';
  src: url('../fonts/font-name.eot');
  src: url('../fonts/font-name.eot?#iefix') format('embedded-opentype'),
         url('../fonts/font-name.woff') format('woff'),
         url('../fonts/font-name.ttf') format('truetype'),
         url('../fonts/font-name.svg#font-name') format('svg');
  font-weight: normal;
  font-style: normal;
} 
*/
/************************************************
Icon font example from http://icomoon.io/app/
************************************************/
@font-face {
  font-family: 'egg_ico';
  src: url('../fonts/egg_icons.eot?-1d3v7n');
  src: url('../fonts/egg_icons.eot?#iefix-1d3v7n') format('embedded-opentype'), url('../fonts/egg_icons.woff?-1d3v7n') format('woff'), url('../fonts/egg_icons.ttf?-1d3v7n') format('truetype'), url('../fonts/egg_icons.svg?-1d3v7n#egg_icons') format('svg');
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'egg_ico';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-search:before {
  content: "\6f"; }

.icon-phone:before {
  content: "\50"; }

.icon-menu:before {
  content: "\3d"; }

.icon-cancel-circle:before {
  content: "\78"; }

.icon-play:before {
  content: "\70"; }

.icon-arrow-up:before {
  content: "\5e"; }

.icon-arrow-right:before {
  content: "\3e"; }

.icon-arrow-down:before {
  content: "\76"; }

.icon-arrow-left:before {
  content: "\3c"; }

.icon-email:before {
  content: "\e600"; }

.icon-googleplus:before {
  content: "\e601"; }

.icon-facebook:before {
  content: "\e602"; }

.icon-twitter:before {
  content: "\e603"; }

.icon-linkedin:before {
  content: "\e604"; }

.icon-pinterest:before {
  content: "\e605"; }

/******************************************************************

Stylesheet: Typography

******************************************************************/
/******************************************************************
FONT BASE
******************************************************************/
body {
  font-size: 100%;
  line-height: 1.5;
  color: #333;
  font-family: "Gotham", "Helvetica Neue", Helvetica, Arial, sans-serif; }

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
  clear: both; }
  h1 a, h1 a:visited, .h1 a, .h1 a:visited, h2 a, h2 a:visited, .h2 a, .h2 a:visited, h3 a, h3 a:visited, .h3 a, .h3 a:visited, h4 a, h4 a:visited, .h4 a, .h4 a:visited, h5 a, h5 a:visited, .h5 a, .h5 a:visited {
    text-decoration: none; }

h1, .h1 {
  font-size: 2em;
  line-height: 1.5em;
  margin: 0.4em 0; }

h2, .h2 {
  font-size: 1.5em;
  line-height: 1.5em;
  margin: 0.57143em 0; }

h3, .h3 {
  font-size: 1.375em;
  margin: 0.66667em 0; }

h4, .h4 {
  font-size: 1.25em;
  font-weight: 700;
  margin: 0.8em 0; }

h5, .h5 {
  font-size: 1.125em;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0.88889em 0; }

@media screen and (min-width: 48em) {
  h1, .h1 {
    font-size: 2.5em; }
  h2, .h2 {
    font-size: 1.75em; }
  h3, .h3 {
    font-size: 1.5em; } }

/******************************************************************
BASE ELEMENTS
******************************************************************/
p {
  margin: 0 0 1.5em; }

dfn, cite, em, i {
  font-style: italic; }

blockquote {
  margin: 0 0 1.5em 1em;
  padding: 0 0 0 1em;
  border-left: 3px solid #669933;
  font-style: italic;
  color: #666; }

address {
  margin: 0 0 1.5em; }

pre {
  background: #222;
  color: #999;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 0.9em;
  margin: 0 0 1.5em;
  max-width: 100%;
  padding: 1em;
  overflow: auto; }

abbr, acronym {
  cursor: help; }

mark, ins {
  background: #fff9c0;
  text-decoration: none; }

/* post meta */
.byline {
  color: #666;
  font-style: italic;
  margin: 0; }

.intro:first-child:first-letter {
  float: left;
  font-size: 3.25em;
  line-height: 0.75em;
  padding: 5px 12px 0 3px;
  font-family: "Georgia", Cambria, Times New Roman, Times, serif;
  color: #222; }

/******************************************************************
ENTRY CONTENT
******************************************************************/
.entry-content .nowrap {
  display: inline-block; }
.entry-content ul, .entry-content ol {
  margin: 0 0 1.5em 2em; }
.entry-content ul {
  list-style: disc; }
.entry-content ol {
  list-style: decimal; }
.entry-content li > ul, .entry-content li > ol {
  margin-bottom: 0;
  margin-left: 1em; }
.entry-content dt {
  font-weight: bold; }
.entry-content dd {
  margin: 0 1em 1.5em; }
.entry-content table {
  margin: 0 0 1.5em;
  width: 100%; }
.entry-content th {
  font-weight: bold; }

/* end .entry-content */
/******************************************************************

Stylesheet: WP Images

******************************************************************/
/******************************************************************
ENTRY CONTENT IMAGES
******************************************************************/
.entry-content img {
  height: auto;
  margin: 0 0 1.5em;
  max-width: 100%; }

.size-auto, .size-full, .size-large, .size-medium, .size-thumbnail {
  max-width: 100%;
  height: auto; }

@media screen and (min-width: 30em) {
  .alignleft, img.alignleft, figure.alignleft, dl.alignleft {
    display: inline;
    float: left;
    margin-left: 0em;
    margin-right: 1.5em; }
  .alignright, img.alignright, figure.alignright, dl.alignright {
    display: inline;
    float: right;
    margin-left: 1.5em;
    margin-right: 0em; }
  .aligncenter, img.aligncenter, figure.aligncenter, dl.aligncenter {
    clear: both;
    display: block;
    margin-right: auto;
    margin-left: auto; } }

.alignnone, img.alignnone, figure.alignnone, dl.alignnone, .alignnone img {
  margin-left: 0;
  margin-right: 0;
  height: auto; }

/******************************************************************
CAPTIONS
******************************************************************/
.wp-caption {
  max-width: 100%;
  background: #999;
  font-size: 0.75em;
  padding: 0.25em 0;
  text-align: center;
  /* images inside wp-caption */ }
  .wp-caption.alignleft {
    margin-right: 1.5em; }
  .wp-caption.alignright {
    margin-left: 1.5em; }
  .wp-caption.aligncenter {
    margin-right: auto;
    margin-left: auto; }
  .wp-caption img {
    max-width: 100%;
    height: auto;
    margin-bottom: 0; }
  .wp-caption p.wp-caption-text {
    font-size: 0.9em;
    margin: 4px 0 7px;
    text-align: center; }

/******************************************************************
RESPONSIVE VIDEO CONTAINER
******************************************************************/
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  margin-bottom: 1em; }

.video-container iframe, .video-container object, .video-container embed, .video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/******************************************************************
HTML5 IMAGE GALLERY
******************************************************************/
.gallery {
  text-align: justify; }
  .gallery .gallery-item {
    margin: 0;
    width: 50%;
    display: inline-block;
    vertical-align: top;
    padding: 0.5em; }
  .gallery img {
    display: block; }
  .gallery .gallery-caption {
    text-align: left;
    padding: 0.25em 0; }
  .gallery:after {
    content: '';
    display: inline-block;
    width: 100%; }
  @media screen and (min-width: 48em) {
    .gallery .gallery-item {
      width: 25%; }
    .gallery img {
      -webkit-transform: translateZ(0);
      -ms-transform: translateZ(0);
      transform: translateZ(0); }
      .gallery img:hover {
        opacity: 0.7;
        -webkit-transition: opacity 0.2s ease-in-out;
        transition: opacity 0.2s ease-in-out; } }

/*********************
CUSTOM EDITOR STYLES
*********************/
.nowrap {
  border: 1px solid #eee;
  display: inline-block; }
