/******************************************************************

Stylesheet: IE Stylesheet

******************************************************************/
/*********************
REMOVES MEDIA QUERIES
*********************/
/*********************
IGNORE MEDIA QUERIES
*********************/
/*********************
IMPORTING MODULES
*********************/
/*! Built by Creative Slice in Tucson, AZ / https://creativeslice.com */
/******************************************************************

Site Name: Golden Egg Starter Theme
Author: Creative Slice

******************************************************************/
/*********************
IMPORTING MODULES
*********************/
/* sanitize.css | CC0 Public Domain | https://10up.github.io/sanitize.css/ */
/*
 * Normalization
 */
:root {
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-y: scroll;
  text-size-adjust: 100%; }

audio:not([controls]) {
  display: none; }

details {
  display: block; }

input[type="number"] {
  width: auto; }
input[type="search"] {
  -webkit-appearance: textfield; }
  input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

main {
  display: block; }

summary {
  display: block; }

pre {
  overflow: auto; }

progress {
  display: inline-block; }

small {
  font-size: 75%; }

template {
  display: none; }

textarea {
  overflow: auto; }

[hidden] {
  display: none; }

[unselectable] {
  user-select: none; }

/*
 * Universal inheritance
 */
*, ::before, ::after {
  box-sizing: inherit; }

* {
  font-size: inherit;
  line-height: inherit; }

::before, ::after {
  text-decoration: inherit;
  vertical-align: inherit; }

/*
 * Opinionated defaults
 */
*, ::before, ::after {
  border-style: solid;
  border-width: 0; }

* {
  margin: 0;
  padding: 0; }

:root {
  box-sizing: border-box;
  cursor: default;
  font: 16px/1.5 sans-serif;
  text-rendering: optimizeLegibility; }

html {
  background-color: #FFFFFF; }

a {
  text-decoration: none; }

audio, canvas, iframe, img, svg, video {
  vertical-align: middle; }

button, input, select, textarea {
  background-color: transparent; }

button, input, select, textarea {
  color: inherit;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit; }

button, [type="button"], [type="date"], [type="datetime"], [type="datetime-local"], [type="email"], [type="month"], [type="number"], [type="password"], [type="reset"], [type="search"], [type="submit"], [type="tel"], [type="text"], [type="time"], [type="url"], [type="week"], select, textarea {
  min-height: 1.5em; }

code, kbd, pre, samp {
  font-family: monospace, monospace; }

nav ol, nav ul {
  list-style: none; }

select {
  -moz-appearance: none;
  -webkit-appearance: none; }
  select::-ms-expand {
    display: none; }
  select::-ms-value {
    color: currentColor; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

textarea {
  resize: vertical; }

::selection {
  background-color: #B3D4FC;
  text-shadow: none; }

@media screen {
  [hidden~="screen"] {
    display: inherit; }
  [hidden~="screen"]:not(:active):not(:focus):not(:target) {
    clip: rect(0 0 0 0) !important;
    position: absolute !important; } }

/******************************************************************

Stylesheet: Mixins

******************************************************************/
/*********************
FONT STACKS
*********************/
/*********************
COLORS
*********************/
/*********************
REUSABLE ITEMS
*********************/
/*********************
BUTTONS
*********************/
.form-submit input, .search-submit, .search-submit:visited, .button, .button:visited {
  display: inline-block;
  position: relative;
  font-family: "Gotham", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration: none;
  font-size: 0.875em;
  font-weight: bold;
  line-height: 1em;
  padding: 1em;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out; }

.form-submit input, .search-submit, .search-submit:visited, .button, .button:visited {
  background-color: #669933;
  border: 1px solid #669933;
  color: white; }
  .form-submit input:hover, .form-submit input:focus, .search-submit:hover, .search-submit:focus, .search-submit:visited:hover, .search-submit:visited:focus, .button:hover, .button:focus, .button:visited:hover, .button:visited:focus {
    background-color: #8cc653;
    color: white;
    text-decoration: none; }
  .form-submit input:active, .search-submit:active, .search-submit:visited:active, .button:active, .button:visited:active {
    background-color: #4d7326;
    color: white; }

/*********************
BREAKPOINTS
*********************/
/******************************************************************

Stylesheet: Fonts and Icons

******************************************************************/
/************************************************
Better support for screen readers with icons
see header.php for an example usage
************************************************/
.screen-reader-text {
  left: -9999em !important;
  position: absolute !important;
  top: -9999em !important; }

/*********************
FONT FACE
*********************/
/* @font-face {
  font-family: 'Font Name';
  src: url('../fonts/font-name.eot');
  src: url('../fonts/font-name.eot?#iefix') format('embedded-opentype'),
         url('../fonts/font-name.woff') format('woff'),
         url('../fonts/font-name.ttf') format('truetype'),
         url('../fonts/font-name.svg#font-name') format('svg');
  font-weight: normal;
  font-style: normal;
} 
*/
/************************************************
Icon font example from http://icomoon.io/app/
************************************************/
@font-face {
  font-family: 'egg_ico';
  src: url('../fonts/egg_icons.eot?-1d3v7n');
  src: url('../fonts/egg_icons.eot?#iefix-1d3v7n') format('embedded-opentype'), url('../fonts/egg_icons.woff?-1d3v7n') format('woff'), url('../fonts/egg_icons.ttf?-1d3v7n') format('truetype'), url('../fonts/egg_icons.svg?-1d3v7n#egg_icons') format('svg');
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'egg_ico';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-search:before {
  content: "\6f"; }

.icon-phone:before {
  content: "\50"; }

.icon-menu:before {
  content: "\3d"; }

.icon-cancel-circle:before {
  content: "\78"; }

.icon-play:before {
  content: "\70"; }

.icon-arrow-up:before {
  content: "\5e"; }

.icon-arrow-right:before {
  content: "\3e"; }

.icon-arrow-down:before {
  content: "\76"; }

.icon-arrow-left:before {
  content: "\3c"; }

.icon-email:before {
  content: "\e600"; }

.icon-googleplus:before {
  content: "\e601"; }

.icon-facebook:before {
  content: "\e602"; }

.icon-twitter:before {
  content: "\e603"; }

.icon-linkedin:before {
  content: "\e604"; }

.icon-pinterest:before {
  content: "\e605"; }

/******************************************************************

Stylesheet: Typography

******************************************************************/
/******************************************************************
FONT BASE
******************************************************************/
body {
  font-size: 100%;
  line-height: 1.5;
  color: #333;
  font-family: "Gotham", "Helvetica Neue", Helvetica, Arial, sans-serif; }

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
  clear: both; }
  h1 a, h1 a:visited, .h1 a, .h1 a:visited, h2 a, h2 a:visited, .h2 a, .h2 a:visited, h3 a, h3 a:visited, .h3 a, .h3 a:visited, h4 a, h4 a:visited, .h4 a, .h4 a:visited, h5 a, h5 a:visited, .h5 a, .h5 a:visited {
    text-decoration: none; }

h1, .h1 {
  font-size: 2em;
  line-height: 1.5em;
  margin: 0.4em 0; }

h2, .h2 {
  font-size: 1.5em;
  line-height: 1.5em;
  margin: 0.57143em 0; }

h3, .h3 {
  font-size: 1.375em;
  margin: 0.66667em 0; }

h4, .h4 {
  font-size: 1.25em;
  font-weight: 700;
  margin: 0.8em 0; }

h5, .h5 {
  font-size: 1.125em;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0.88889em 0; }

h1, .h1 {
  font-size: 2.5em; }

h2, .h2 {
  font-size: 1.75em; }

h3, .h3 {
  font-size: 1.5em; }

/******************************************************************
BASE ELEMENTS
******************************************************************/
p {
  margin: 0 0 1.5em; }

dfn, cite, em, i {
  font-style: italic; }

blockquote {
  margin: 0 0 1.5em 1em;
  padding: 0 0 0 1em;
  border-left: 3px solid #669933;
  font-style: italic;
  color: #666; }

address {
  margin: 0 0 1.5em; }

pre {
  background: #222;
  color: #999;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 0.9em;
  margin: 0 0 1.5em;
  max-width: 100%;
  padding: 1em;
  overflow: auto; }

abbr, acronym {
  cursor: help; }

mark, ins {
  background: #fff9c0;
  text-decoration: none; }

/* post meta */
.byline {
  color: #666;
  font-style: italic;
  margin: 0; }

.intro:first-child:first-letter {
  float: left;
  font-size: 3.25em;
  line-height: 0.75em;
  padding: 5px 12px 0 3px;
  font-family: "Georgia", Cambria, Times New Roman, Times, serif;
  color: #222; }

/******************************************************************
ENTRY CONTENT
******************************************************************/
.entry-content .nowrap {
  display: inline-block; }
.entry-content ul, .entry-content ol {
  margin: 0 0 1.5em 2em; }
.entry-content ul {
  list-style: disc; }
.entry-content ol {
  list-style: decimal; }
.entry-content li > ul, .entry-content li > ol {
  margin-bottom: 0;
  margin-left: 1em; }
.entry-content dt {
  font-weight: bold; }
.entry-content dd {
  margin: 0 1em 1.5em; }
.entry-content table {
  margin: 0 0 1.5em;
  width: 100%; }
.entry-content th {
  font-weight: bold; }

/* end .entry-content */
/******************************************************************

Stylesheet: WP Images

******************************************************************/
/******************************************************************
ENTRY CONTENT IMAGES
******************************************************************/
.entry-content img {
  margin: 0 0 1.5em;
  max-width: 100%;
  height: auto; }

.size-auto, .size-full, .size-large, .size-medium, .size-thumbnail {
  max-width: 100%;
  height: auto; }

.alignleft, img.alignleft, figure.alignleft, dl.alignleft {
  display: inline;
  float: left;
  margin-left: 0em;
  margin-right: 1.5em; }

.alignright, img.alignright, figure.alignright, dl.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
  margin-right: 0em; }

.aligncenter, img.aligncenter, figure.aligncenter, dl.aligncenter {
  clear: both;
  display: block;
  margin-right: auto;
  margin-left: auto; }

.alignnone, img.alignnone, figure.alignnone, dl.alignnone, .alignnone img {
  margin-left: 0;
  margin-right: 0;
  height: auto; }

/******************************************************************
CAPTIONS
******************************************************************/
.wp-caption {
  max-width: 100%;
  background: #999;
  font-size: 0.75em;
  padding: 0.25em 0;
  text-align: center;
  /* images inside wp-caption */ }
  .wp-caption.alignleft {
    margin-right: 1.5em; }
  .wp-caption.alignright {
    margin-left: 1.5em; }
  .wp-caption.aligncenter {
    margin-right: auto;
    margin-left: auto; }
  .wp-caption img {
    max-width: 100%;
    height: auto;
    margin-bottom: 0; }
  .wp-caption .wp-caption-text {
    font-size: 0.875em;
    margin: 0.5em 0 1em;
    text-align: center; }

/******************************************************************
RESPONSIVE VIDEO CONTAINER
******************************************************************/
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  margin-bottom: 1em; }

.video-container iframe, .video-container object, .video-container embed, .video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/******************************************************************
HTML5 IMAGE GALLERY
******************************************************************/
.gallery {
  text-align: justify; }
  .gallery .gallery-item {
    margin: 0;
    width: 50%;
    display: inline-block;
    vertical-align: top;
    padding: 0.5em; }
  .gallery img {
    display: block; }
  .gallery .gallery-caption {
    text-align: left;
    padding: 0.25em 0; }
  .gallery:after {
    content: '';
    display: inline-block;
    width: 100%; }
  .gallery .gallery-item {
    width: 25%; }
  .gallery img {
    will-change: opacity; }
    .gallery img:hover {
      opacity: 0.7;
      transition: opacity 0.2s ease-in-out; }

/******************************************************************

Stylesheet: Golden Grid

******************************************************************/
.goldlarge {
  display: block; }

.goldsmall {
  display: block; }

.goldlarge {
  float: left;
  width: 61.8034%; }

.goldsmall {
  float: right;
  width: 38.1966%; }

.firstcol, .first-col {
  clear: left;
  float: left; }

.lastcol, .last-col {
  float: right; }

/*********************
HEADER STYLES
*********************/
.header {
  background: #eee;
  text-align: center; }
  .header #logo a {
    display: inline-block;
    padding: 2em; }

#mobilemenu, #search-toggle {
  display: block;
  float: left;
  text-decoration: none;
  color: #669933;
  cursor: pointer;
  font-size: 24px; }
  #mobilemenu:hover, #mobilemenu:focus, #search-toggle:hover, #search-toggle:focus {
    color: #80bf40; }

.search-form {
  display: none;
  margin: 1em;
  text-align: center; }

#search-toggle {
  float: right; }

#mobilemenu {
  display: none; }

/*********************
NAVIGATION STYLES
*********************/
.main-nav {
  margin: 0;
  display: none;
  clear: both;
  /* highlight current page */
  display: block !important;
  clear: none; }
  .main-nav li a, .main-nav li a:visited {
    display: block;
    text-decoration: none;
    padding: 1em; }
  .main-nav li ul.sub-menu li a, .main-nav li ul.sub-menu li a:visited, .main-nav li ul.children li a, .main-nav li ul.children li a:visited {
    padding-left: 30px; }
  .main-nav li.current-menu-item a, .main-nav li.current-menu-item a:visited, .main-nav li.current_page_item a, .main-nav li.current_page_item a:visited, .main-nav li.current-page-ancestor a, .main-nav li.current-page-ancestor a:visited {
    color: #80bf40; }
  .main-nav li {
    display: inline-block;
    vertical-align: top;
    position: relative;
    text-align: left;
    /* showing sub-menus on hover */ }
    .main-nav li ul.sub-menu {
      margin-top: 0;
      background: #eee;
      position: absolute;
      z-index: 999;
      overflow: hidden;
      visibility: hidden;
      opacity: 0;
      transition: visibility 0.2s ease-in-out, opacity 0.2s ease-in-out; }
      .main-nav li ul.sub-menu li a, .main-nav li ul.sub-menu li a:visited {
        padding-left: 1em;
        border-right: 0;
        display: block;
        width: 180px; }
    .main-nav li:hover ul {
      top: auto;
      overflow: visible;
      visibility: visible;
      opacity: 1; }

/*********************
FOOTER STYLES
*********************/
.footer {
  clear: both;
  background-color: #eee;
  text-align: center;
  padding: 2em; }
  .footer .footer-nav li a {
    display: block;
    padding: 0.5em; }
  .footer .copyright {
    clear: both; }
  .footer .footer-nav li {
    display: inline-block; }

/******************************************************************

Stylesheet: Page Navi Styles

******************************************************************/
/******************************************************************
PAGE NAVI STYLES
******************************************************************/
.pagination {
  border-top: 1px solid #999;
  text-align: center;
  padding-top: 4em; }
  .pagination ul {
    display: inline-block;
    background-color: white;
    white-space: nowrap;
    padding: 0;
    clear: both; }
  .pagination li {
    padding: 0;
    margin: 0;
    float: left;
    display: inline;
    overflow: hidden;
    border-right: 1px solid #999; }
    .pagination li:last-child {
      border: none; }
  .pagination a, .pagination a:visited, .pagination span {
    margin: 0;
    text-decoration: none;
    padding: 0;
    line-height: 1em;
    font-size: 1em;
    font-weight: normal;
    padding: 0.75em;
    min-width: 1em;
    display: block;
    color: #669933; }
    .pagination a:hover, .pagination a:focus, .pagination a:visited:hover, .pagination a:visited:focus, .pagination span:hover, .pagination span:focus {
      background-color: #669933;
      color: #fff; }
  .pagination .current {
    cursor: default;
    color: #333;
    font-weight: bold; }
    .pagination .current:hover, .pagination .current:focus {
      background-color: #fff;
      color: #333; }

/*********************
BASE (MOBILE) SIZE
*********************/
/******************************************************************

Stylesheet: BASE

******************************************************************/
/*********************
GENERAL STYLES
*********************/
body {
  background-color: white; }

::selection {
  background: #ff9;
  color: black !important;
  text-shadow: none; }

hr {
  display: block;
  height: 0;
  border: 0;
  border-top: 1px solid #999;
  border-bottom: 1px solid #fff;
  margin: 1em 0;
  padding: 0; }

/*********************
LAYOUT & GRID STYLES
*********************/
.wrap {
  width: 94%;
  margin: 0 auto;
  max-width: 1200px; }

#container {
  position: relative; }

/*********************
LINK STYLES
*********************/
a, a:visited {
  color: #669933;
  /* on click */
  /* mobile tap color */ }
  a:hover, a:focus, a:visited:hover, a:visited:focus {
    color: #80bf40; }
  a:active, a:visited:active {
    color: #689933; }
  a:link, a:visited:link {
    -webkit-tap-highlight-color: rgba(102, 153, 51, 0.5); }

/*********************
POSTS & CONTENT STYLES
*********************/
/*********************
SIDEBARS & ASIDES
*********************/
.sidebar {
  background: #eee;
  padding: 2em; }

/*********************
PRINT STYLESHEET
*********************/
@media print {
  /******************************************************************

Stylesheet: Print

******************************************************************/
  @page {
    margin: 0.5cm; }

  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important; }
  a, a:visited {
    color: #444 !important;
    text-decoration: underline; }
    a:after, a:visited:after {
      content: " (" attr(href) ")"; }
    a abbr[title]:after, a:visited abbr[title]:after {
      content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: ""; }
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group; }
  tr, img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  p, h2, h3 {
    orphans: 3;
    widows: 3; }
  h2, h3 {
    page-break-after: avoid; }
  .sidebar, .page-navigation, .wp-prev-next, .respond-form, nav {
    display: none; } }

/******************************************************************
ADDITIONAL IE FIXES
******************************************************************/