/******************************************************************

Stylesheet: IE Stylesheet

******************************************************************/
/******************************************************************

Stylesheet: Mixins

******************************************************************/
/*********************
FONT STACKS
*********************/
/*********************
COLORS
*********************/
/*********************
BUTTONS
*********************/
.search-submit, .form-submit input, .button {
  display: inline-block;
  position: relative;
  font-family: "Gotham", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration: none;
  color: #fff;
  font-size: 0.9em;
  font-weight: bold;
  line-height: 2em;
  padding: 0 1em;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out; }
  .search-submit:hover, .form-submit input:hover, .button:hover, .search-submit:focus, .form-submit input:focus, .button:focus {
    color: #fff;
    text-decoration: none; }
  .search-submit:active, .form-submit input:active, .button:active {
    top: 1px; }

.search-submit, .form-submit input, .button {
  background-color: #669933; }
  .search-submit:hover, .search-submit:focus, .form-submit input:hover, .form-submit input:focus, .button:hover, .button:focus {
    background-color: #80bf40; }
  .search-submit:active, .form-submit input:active, .button:active {
    background-color: #59862d; }

/*********************
BREAKPOINTS
*********************/
/******************************************************************

ADDITIONAL IE FIXES

******************************************************************/
/*
For example, you can use something like:

.no-textshadow .class { ... }

*/