/******************************************************************

Stylesheet: IE Stylesheet

******************************************************************/
/******************************************************************

Stylesheet: Mixins

******************************************************************/
/*********************
FONT STACKS
*********************/
/*********************
COLORS
*********************/
/*********************
BUTTONS
*********************/
.search-submit, .form-submit input, .button {
  display: inline-block;
  position: relative;
  font-family: "Gotham", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration: none;
  color: #fff;
  font-size: 0.9em;
  font-weight: bold;
  line-height: 2em;
  padding: 0 1em;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out; }
  .search-submit:hover, .form-submit input:hover, .button:hover, .search-submit:focus, .form-submit input:focus, .button:focus {
    color: #fff;
    text-decoration: none; }
  .search-submit:active, .form-submit input:active, .button:active {
    top: 1px; }

.search-submit, .form-submit input, .button {
  background-color: #669933; }
  .search-submit:hover, .search-submit:focus, .form-submit input:hover, .form-submit input:focus, .button:hover, .button:focus {
    background-color: #80bf40; }
  .search-submit:active, .form-submit input:active, .button:active {
    background-color: #59862d; }

/******************************************************************

Stylesheet: SMALL

******************************************************************/
/*********************
POSTS & CONTENT STYLES
*********************/
/* entry content */
.entry-content .alignleft, .entry-content img.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em; }
.entry-content .alignright, .entry-content img.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em; }
.entry-content .aligncenter, .entry-content img.aligncenter {
  clear: both;
  display: block;
  margin-right: auto;
  margin-left: auto; }

/* end .entry-content */
/******************************************************************

Stylesheet: MEDIUM

******************************************************************/
/*********************
GENERAL STYLES
*********************/

/*********************
NAVIGATION STYLES
*********************/
.nav {
  /* end .menu ul li */
  /* highlight current page */ }
  .nav li {
    float: left;
    position: relative;
    /* sub-menus and drop-downs */
    /* showing sub-menus */ }
    .nav li ul.sub-menu, .nav li ul.children {
      margin-top: 0;
      border: 1px solid #999;
      border-top: 0;
      position: absolute;
      overflow: hidden;
      visibility: hidden;
      z-index: 8999;
      /* highlight sub-menu current page */ }
      .nav li ul.sub-menu li a, .nav li ul.children li a {
        padding-left: 10px;
        border-right: 0;
        display: block;
        width: 180px; }
    .nav li:hover ul {
      top: auto;
      overflow: visible;
      visibility: visible; }

/*********************
SIDEBARS & ASIDES
*********************/

/*********************
FOOTER STYLES
*********************/

/******************************************************************

Stylesheet: LARGE

******************************************************************/

/*********************
NAVIGATION STYLES
*********************/
#mobilemenu {
  display: none; }

.top-nav {
  display: block !important; }

/******************************************************************

ADDITIONAL IE FIXES

******************************************************************/
/*
For example, you can use something like:

.no-textshadow .class { ... }

*/