/******************************************************************

Stylesheet: Login Screen

******************************************************************/
body.login {
  background: #669933;
  background-image: -webkit-linear-gradient(45deg, #1b801b, #669933);
  background-image: linear-gradient(45deg, #1b801b, #669933); }

/*
 * Logo above login form
 */
.login h1 a {
  background: url(../img/login-logo.png) no-repeat top center;
  width: 274px;
  height: 64px;
  text-indent: -9999px;
  overflow: hidden;
  padding-bottom: 0px;
  display: block; }
.login .message {
  border-color: black; }
.login #nav a, .login #backtoblog a {
  color: rgba(255, 255, 255, 0.7); }
  .login #nav a:hover, .login #backtoblog a:hover {
    color: white; }

form {
  margin-left: 8px;
  padding: 26px 24px 46px;
  font-weight: normal;
  background: white;
  border: 1px solid #eee;
  border-radius: 4px;
  -webkit-box-shadow: none;
  box-shadow: none; }

body form .input {
  font-weight: 200;
  font-size: 24px;
  width: 97%;
  padding: 3px;
  margin-top: 2px;
  margin-right: 6px;
  margin-bottom: 16px;
  border: 1px solid #eee;
  background: #fefefe;
  outline: none;
  -webkit-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.1); }

#wp-submit {
  background: #669933;
  border-color: #669933 !important;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  text-transform: uppercase; }
  #wp-submit:hover {
    background: #1b801b; }
