/*! Crafted with care by Creative Slice https://creativeslice.com */
/*********************
IMPORTING MODULES
*********************/
/* sanitize.css | CC0 Public Domain | https://10up.github.io/sanitize.css/ */
/*
 * Normalization
 */
:root {
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%; }

audio:not([controls]) {
  display: none; }

details {
  display: block; }

input[type="number"] {
  width: auto; }

input[type="search"] {
  -webkit-appearance: textfield; }
  input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

main {
  display: block; }

summary {
  display: block; }

pre {
  overflow: auto; }

progress {
  display: inline-block; }

small {
  font-size: 75%; }

template {
  display: none; }

textarea {
  overflow: auto; }

[hidden] {
  display: none; }

[unselectable] {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

/*
 * Universal inheritance
 */
*,
::before,
::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

* {
  font-size: inherit;
  line-height: inherit; }

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit; }

/*
 * Opinionated defaults
 */
*,
::before,
::after {
  border-style: solid;
  border-width: 0; }

* {
  margin: 0;
  padding: 0; }

:root {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: default;
  font: 16px/1.5 sans-serif;
  text-rendering: optimizeLegibility; }

html {
  background-color: #FFFFFF; }

a {
  text-decoration: none; }

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

button,
input,
select,
textarea {
  background-color: transparent; }

button,
input,
select,
textarea {
  color: inherit;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit; }

button,
[type="button"],
[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="email"],
[type="month"],
[type="number"],
[type="password"],
[type="reset"],
[type="search"],
[type="submit"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
select,
textarea {
  min-height: 1.5em; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace; }

nav ol,
nav ul {
  list-style: none; }

select {
  -moz-appearance: none;
  -webkit-appearance: none; }
  select::-ms-expand {
    display: none; }
  select::-ms-value {
    color: currentColor; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

textarea {
  resize: vertical; }

::-moz-selection {
  background-color: #B3D4FC;
  text-shadow: none; }

::selection {
  background-color: #B3D4FC;
  text-shadow: none; }

@media screen {
  [hidden~="screen"] {
    display: inherit; }
  [hidden~="screen"]:not(:active):not(:focus):not(:target) {
    clip: rect(0 0 0 0) !important;
    position: absolute !important; } }

/******************************************************************

Stylesheet: Variables

******************************************************************/
/*********************
FONTS
*********************/
/*********************
COLORS
*********************/
/*********************
REUSABLE ITEMS
*********************/
.clearfix, .cf {
  zoom: 1; }
  .clearfix:before, .clearfix:after, .cf:before, .cf:after {
    content: "";
    display: table; }
  .clearfix:after, .cf:after {
    clear: both; }

.screen-reader-text {
  left: -9999em !important;
  position: absolute !important;
  top: -9999em !important; }

.nowrap {
  display: inline-block; }

/*********************
BREAKPOINTS
*********************/
/******************************************************************

Stylesheet: Typography

******************************************************************/
/*********************
FONT FACE
*********************/
/* @font-face {
  font-family: 'Font Name';
  src: url('../fonts/font-name.eot');
  src: url('../fonts/font-name.eot?#iefix') format('embedded-opentype'),
         url('../fonts/font-name.woff') format('woff'),
         url('../fonts/font-name.ttf') format('truetype'),
         url('../fonts/font-name.svg?#font-name') format('svg');
  font-weight: normal;
  font-style: normal;
} 
*/
/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  clear: both;
  margin-top: 16px;
  margin-bottom: 16px; }
  h1 a, h1 a:visited, .h1 a, .h1 a:visited, h2 a, h2 a:visited, .h2 a, .h2 a:visited, h3 a, h3 a:visited, .h3 a, .h3 a:visited, h4 a, h4 a:visited, .h4 a, .h4 a:visited, h5 a, h5 a:visited, .h5 a, .h5 a:visited, h6 a, h6 a:visited, .h6 a, .h6 a:visited {
    text-decoration: none; }

h1, .h1 {
  font-size: 2em;
  line-height: 1.5em; }

h2, .h2 {
  font-size: 1.5em;
  line-height: 1.5em; }

h3, .h3 {
  font-size: 1.375em; }

h4, .h4 {
  font-size: 1.25em; }

h5, .h5 {
  font-size: 1.125em;
  text-transform: uppercase;
  letter-spacing: 2px; }

h6, .h6 {
  font-size: .875em;
  text-transform: uppercase;
  letter-spacing: 2px; }

@media screen and (min-width: 48em) {
  h1, .h1 {
    font-size: 2.5em; }
  h2, .h2 {
    font-size: 1.75em; }
  h3, .h3 {
    font-size: 1.5em; } }

/*********************
ENTRY CONTENT
*********************/
.entryContent p {
  margin: 0 0 1.5em; }

.entryContent ul, .entryContent ol {
  margin: 0 0 1.5em 2em; }

.entryContent ul {
  list-style: disc; }

.entryContent ol {
  list-style: decimal; }

.entryContent li > ul,
.entryContent li > ol {
  margin-bottom: 0;
  margin-left: 1em; }

.entryContent dt {
  font-weight: bold; }

.entryContent dd {
  margin: 0 1em 1.5em; }

.entryContent table {
  margin: 0 0 1.5em;
  width: 100%; }

.entryContent th {
  font-weight: bold; }

/*********************
BASE ELEMENTS
*********************/
.byline {
  font-size: .75em;
  margin: 1em 0; }

dfn, cite, em, i {
  font-style: italic; }

blockquote {
  margin: 0 0 1.5em 1em;
  padding: 0 0 0 1em;
  border-left: 3px solid #669933;
  font-style: italic;
  color: #666; }

address {
  margin: 0 0 1.5em; }

pre {
  background: #111;
  color: #999;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 0.9em;
  margin: 0 0 1.5em;
  max-width: 100%;
  padding: 1em;
  overflow: auto; }

abbr, acronym {
  cursor: help; }

mark, ins {
  background: #fff9c0;
  text-decoration: none; }

/******************************************************************

Stylesheet: Header

******************************************************************/
.header {
  text-align: center;
  background: #fff; }
  .header #logo {
    display: inline-block;
    padding: 2em; }

/*********************
Search Form
*********************/
#searchToggle {
  display: block;
  float: right;
  cursor: pointer;
  position: relative;
  fill: #666;
  margin: 1em; }
  #searchToggle svg {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 0;
    right: 0; }
  #searchToggle svg.close {
    display: none; }
  #searchToggle.active svg.close {
    display: block; }
  #searchToggle.active svg.open {
    display: none; }
  #searchToggle:hover, #searchToggle:focus {
    fill: #80bf40; }

.searchForm {
  display: none;
  margin: 1em 0;
  text-align: center; }

/******************************************************************

Stylesheet: Footer

******************************************************************/
.footer {
  clear: both;
  text-align: center;
  padding: 2em 0;
  border-top: 1px solid #999; }
  .footer .footerLinks li {
    list-style: none; }
    .footer .footerLinks li a {
      display: block;
      padding: .5em; }
  .footer .copyright {
    clear: both;
    font-size: .75em;
    margin-top: 1em; }
  @media screen and (min-width: 48em) {
    .footer .footerLinks li {
      display: inline-block; } }

/******************************************************************

Stylesheet: WP Images

******************************************************************/
.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
  max-width: 100%;
  height: auto; }

@media screen and (min-width: 30em) {
  .alignleft, img.alignleft, figure.alignleft, dl.alignleft {
    display: inline;
    float: left;
    margin-left: 0em;
    margin-right: 1.5em; }
  .alignright, img.alignright, figure.alignright, dl.alignright {
    display: inline;
    float: right;
    margin-left: 1.5em;
    margin-right: 0em; }
  .aligncenter, img.aligncenter, figure.aligncenter, dl.aligncenter {
    clear: both;
    display: block;
    margin-right: auto;
    margin-left: auto; } }

.alignnone, img.alignnone, figure.alignnone, dl.alignnone, .alignnone img {
  margin-left: 0;
  margin-right: 0;
  height: auto; }

/*********************
WP CAPTIONS
*********************/
.wp-caption {
  max-width: 100%;
  text-align: center;
  /* images inside wp-caption */ }
  .wp-caption.alignleft {
    margin-right: 1.5em; }
  .wp-caption.alignright {
    margin-left: 1.5em; }
  .wp-caption.aligncenter {
    margin-right: auto;
    margin-left: auto; }
  .wp-caption img {
    max-width: 100%;
    height: auto;
    margin-bottom: 0; }
  .wp-caption .wp-caption-text {
    font-size: 0.875em;
    margin: .5em 0 1em;
    text-align: center; }

/*********************
HTML5 IMAGE GALLERY
*********************/
.gallery {
  text-align: justify; }
  .gallery .gallery-item {
    margin: 0;
    width: 50%;
    display: inline-block;
    vertical-align: top;
    padding: .5em; }
  .gallery img {
    display: block; }
  .gallery .gallery-caption {
    text-align: left;
    padding: .25em 0; }
  .gallery:after {
    content: '';
    display: inline-block;
    width: 100%; }
  @media screen and (min-width: 48em) {
    .gallery .gallery-item {
      width: 25%; }
    .gallery img {
      will-change: opacity; }
      .gallery img:hover {
        opacity: .7;
        -webkit-transition: opacity 0.2s ease-in-out;
        transition: opacity 0.2s ease-in-out; } }

/******************************************************************

Stylesheet: Forms

******************************************************************/
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
select,
textarea,
.field {
  background-color: #eee;
  border: 1px solid #999;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #333;
  display: block;
  font-size: 1em;
  height: 40px;
  line-height: 40px;
  margin-bottom: 14px;
  padding: 0 12px;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
  vertical-align: middle;
  width: 100%; }
  input[type="text"]:focus, input[type="text"]:active,
  input[type="password"]:focus,
  input[type="password"]:active,
  input[type="datetime"]:focus,
  input[type="datetime"]:active,
  input[type="datetime-local"]:focus,
  input[type="datetime-local"]:active,
  input[type="date"]:focus,
  input[type="date"]:active,
  input[type="month"]:focus,
  input[type="month"]:active,
  input[type="time"]:focus,
  input[type="time"]:active,
  input[type="week"]:focus,
  input[type="week"]:active,
  input[type="number"]:focus,
  input[type="number"]:active,
  input[type="email"]:focus,
  input[type="email"]:active,
  input[type="url"]:focus,
  input[type="url"]:active,
  input[type="search"]:focus,
  input[type="search"]:active,
  input[type="tel"]:focus,
  input[type="tel"]:active,
  input[type="color"]:focus,
  input[type="color"]:active,
  select:focus,
  select:active,
  textarea:focus,
  textarea:active,
  .field:focus,
  .field:active {
    background-color: white; }

textarea {
  line-height: 1.5em;
  max-width: 100%;
  min-height: 120px;
  overflow: auto; }

select {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAG0lEQVR42mNgwAfKy8v/48I4FeA0AacVDFQBAP9wJkE/KhUMAAAAAElFTkSuQmCC);
  background-repeat: no-repeat;
  background-position: 95% center;
  -webkit-appearance: none; }

/******************************************************************

Stylesheet: Buttons

******************************************************************/
/*********************
BUTTONS
*********************/
.form-submit input,
.button, .button:visited {
  display: inline-block;
  position: relative;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration: none;
  font-size: .875em;
  font-weight: bold;
  line-height: 1em;
  padding: 1em;
  border-radius: 2px;
  cursor: pointer;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out; }

.form-submit input,
.button, .button:visited {
  background-color: #669933;
  border: 1px solid #669933;
  color: #fff; }
  .form-submit input:hover, .form-submit input:focus,
  .button:hover,
  .button:focus, .button:visited:hover, .button:visited:focus {
    background-color: #80bf40;
    color: #fff;
    text-decoration: none; }
  .form-submit input:active,
  .button:active, .button:visited:active {
    background-color: #669933;
    color: #fff; }

/******************************************************************

Stylesheet: BASE

******************************************************************/
html, body {
  background-color: #eee; }

body {
  font-size: 100%;
  line-height: 1.5;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

::-moz-selection {
  background: #ff9;
  color: black !important;
  text-shadow: none; }

::selection {
  background: #ff9;
  color: black !important;
  text-shadow: none; }

hr {
  display: block;
  height: 0;
  border: 0;
  border-top: 1px solid #999;
  border-bottom: 1px solid #fff;
  margin: 1em 0;
  padding: 0; }

/*********************
LAYOUT & GRID STYLES
*********************/
.wrap {
  width: 94%;
  margin: 0 auto;
  max-width: 1200px; }

.wrapInner {
  width: 94%;
  margin: 0 auto;
  max-width: 800px; }

#container {
  position: relative; }

/*********************
LINK STYLES
*********************/
a, a:visited {
  color: #669933; }
  a:hover, a:focus, a:visited:hover, a:visited:focus {
    color: #80bf40; }
  a:active, a:visited:active {
    color: #669933; }
  a:link, a:visited:link {
    -webkit-tap-highlight-color: rgba(102, 153, 51, 0.5); }

/*********************
CONTENT STYLES
*********************/
/*********************
SIDEBAR
*********************/
/*********************
COMPONENTS
*********************/
/*********************
MENU NAVIGATION
*********************/
#menuToggle {
  display: block;
  position: relative;
  float: right;
  cursor: pointer;
  fill: #669933;
  margin: 1em; }
  #menuToggle svg {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 0;
    right: 0; }
  #menuToggle svg.close {
    display: none; }
  #menuToggle.active svg.close {
    display: block; }
  #menuToggle.active svg.open {
    display: none; }
  #menuToggle .menuText {
    display: none; }
  @media screen and (min-width: 64em) {
    #menuToggle {
      display: none; } }

.menuFull {
  display: none; }
  @media screen and (min-width: 64em) {
    .menuFull {
      display: block !important; } }

/*********************
MAIN MENU
*********************/
.mainNav {
  margin: 0;
  clear: both;
  text-align: center; }
  .mainNav li a, .mainNav li a:visited {
    display: block;
    text-decoration: none;
    padding: 1em;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
  .mainNav li ul.sub-menu li,
  .mainNav li ul.children li {
    max-width: 49%;
    display: inline-block;
    vertical-align: top; }
    .mainNav li ul.sub-menu li a, .mainNav li ul.sub-menu li a:visited,
    .mainNav li ul.children li a,
    .mainNav li ul.children li a:visited {
      text-transform: none;
      letter-spacing: 0;
      padding: .5em 1em; }
  @media screen and (min-width: 64em) {
    .mainNav {
      background: none; }
      .mainNav li {
        display: inline-block;
        vertical-align: top;
        position: relative; }
        .mainNav li ul.sub-menu,
        .mainNav li ul.children {
          left: 0;
          margin-top: 0;
          position: absolute;
          z-index: 999;
          overflow: hidden;
          visibility: hidden;
          opacity: 0;
          -webkit-transition: visibility 0.2s ease-in-out, opacity 0.2s ease-in-out;
          transition: visibility 0.2s ease-in-out, opacity 0.2s ease-in-out;
          text-align: left;
          background: #fff;
          -webkit-box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.2);
                  box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.2); }
          .mainNav li ul.sub-menu li,
          .mainNav li ul.children li {
            max-width: none; }
            .mainNav li ul.sub-menu li a, .mainNav li ul.sub-menu li a:visited,
            .mainNav li ul.children li a,
            .mainNav li ul.children li a:visited {
              padding-left: 1em;
              border-right: 0;
              display: block;
              width: 220px;
              border-top: 1px solid #999; }
          .mainNav li ul.sub-menu li:first-child a,
          .mainNav li ul.children li:first-child a {
            border: none; }
        .mainNav li:hover ul {
          top: auto;
          overflow: visible;
          visibility: visible;
          opacity: 1; } }

IMG[src=''], IMG:not([src]) {
  opacity: 0; }

.lazyhd img,
.lazy70 img {
  width: 100%;
  opacity: 0.2;
  -webkit-transition: opacity 0.6s ease-in;
  transition: opacity 0.6s ease-in; }

.lazyload {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; }

.lazyloading {
  opacity: 0.2; }

.lazyloaded {
  opacity: 1 !important; }

.lazy70 {
  padding-bottom: 70%;
  height: 0;
  background: #eee;
  position: relative;
  margin-bottom: 40px; }

.lazyhd {
  padding-bottom: 56.25%;
  height: 0;
  background: #999; }

.postPrev, .postNext {
  font-size: .875em;
  text-transform: uppercase; }
  .postPrev a, .postPrev a:visited, .postNext a, .postNext a:visited {
    color: #666; }
    .postPrev a:hover, .postPrev a:visited:hover, .postNext a:hover, .postNext a:visited:hover {
      color: #80bf40; }

.postPrev {
  float: left; }

.postNext {
  float: right; }

/*************************************
PAGE NAVI STYLES
**************************************/
.pageNavi {
  text-align: center; }
  .pageNavi ul {
    display: inline-block;
    background-color: white;
    white-space: nowrap;
    padding: 0;
    clear: both; }
  .pageNavi li {
    padding: 0;
    margin: 0;
    float: left;
    display: inline;
    overflow: hidden;
    border-right: 1px solid #999; }
    .pageNavi li:last-child {
      border: none; }
  .pageNavi a, .pageNavi a:visited, .pageNavi span {
    margin: 0;
    text-decoration: none;
    padding: 0;
    line-height: 1em;
    font-size: 1em;
    font-weight: normal;
    padding: 0.75em;
    min-width: 1em;
    display: block;
    color: #669933; }
    .pageNavi a:hover, .pageNavi a:focus, .pageNavi a:visited:hover, .pageNavi a:visited:focus, .pageNavi span:hover, .pageNavi span:focus {
      background-color: #669933;
      color: #fff; }
  .pageNavi .current {
    cursor: default;
    color: #333;
    font-weight: bold; }
    .pageNavi .current:hover, .pageNavi .current:focus {
      background-color: #fff;
      color: #333; }

/*********************
SHARE LINKS
*********************/
.shareLinks a, .shareLinks a:visited {
  fill: #666;
  display: inline-block;
  vertical-align: top;
  padding: 2px 6px;
  width: 32px;
  height: 32px;
  background: #fff;
  border-radius: 50%; }
  .shareLinks a:hover, .shareLinks a:visited:hover {
    fill: #fff;
    background: #80bf40; }
  .shareLinks a svg, .shareLinks a:visited svg {
    width: 20px;
    height: 20px; }

.screen-reader-text {
  left: -9999em !important;
  position: absolute !important;
  top: -9999em !important; }

/*********************
PRINT STYLESHEET
*********************/
@media print {
  /******************************************************************

Stylesheet: Print

******************************************************************/
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    -webkit-filter: none !important;
            filter: none !important;
    -ms-filter: none !important; }
  a, a:visited {
    color: #444 !important;
    text-decoration: underline; }
    a:after, a:visited:after {
      content: " (" attr(href) ")"; }
    a abbr[title]:after, a:visited abbr[title]:after {
      content: " (" attr(title) ")"; }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group; }
  tr, img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  @page {
    margin: 0.5cm; }
  p, h2, h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; }
  .page-navigation,
  .wp-prev-next,
  .respond-form,
  nav {
    display: none; } }
