.pageFooter {
	clear: both;
	text-align: center;
	padding: 2em 0;
	border-top: 1px solid $gray_light;

	.footerLinks {
		li {
			list-style: none;
			a {
				display: block;
				padding: .5em;
			}
		}
	}

	.copyright {
		clear: both;
		font-size: .75em;
		margin-top: 1em;
	}

@include breakpoint(medium) {
	.footerLinks {
		li {
			display: inline-block;
		}
	}
}
}
