/*********************
Expanding Text
*********************/
.expandingText {
	padding: $spacing/4 0;
	.sectionTitle {
		margin: 0 0 $spacing/2 0;
		text-align: center;
	}
	.sectionTitle {
		width: 92%;
		max-width: 1200px;
		margin-right: auto;
		margin-left: auto;
	}
	.expandBlock {
		border: 2px solid $black;
		margin-top: -2px;
	}
	.toggleContent {
		transition: color $ease;
		display: block;
		cursor: pointer;
		padding: $spacing/4 4%;
		margin: 0;
		position: relative;
		transition: all $ease;
		svg {
			width: 20px;
			height: 20px;
			position: absolute;
			bottom: $spacing/4;
			right: 4%;
		}
		&:hover {
			background: $white;
		}
		&.open {
			background: $black;
			color: $white;
			svg {
				transform: rotate(180deg);
				fill: $white;
			}
		}
	}
	.hiddenContent {
		display: none;
		padding: $spacing/4 4%;
		background: $white;
		.entryContent {
			*:first-child {
				margin-top: 0;
			}
		}
	}
@include breakpoint(large) {
	padding: $spacing/2 0;
	.expandBlock {
		width: 92%;
		max-width: 1200px;
		margin-right: auto;
		margin-left: auto;
	}
	.toggleContent,
	.hiddenContent {
		padding: $spacing/4;
		svg {
			right: $spacing/4;
		}
	}
}
}
