/*********************
SHARE LINKS
*********************/

.share-links {
	a,
	a:visited {
		display: inline-block;
		vertical-align: top;
		padding: 2px 6px;
		width: 32px;
		height: 32px;
		border-radius: 50%;
		fill: var(--wp--preset--color--primary);
		background: white;
		&:hover {
			fill: white;
			background: var(--wp--preset--color--primary);
		}
		svg {
			width: 20px;
			height: 20px;
		}
	}
}
