/******************************************************************

Stylesheet: BASE

******************************************************************/

html:focus-within {
	scroll-behavior: smooth;
}

body {
	font-size: 100%;
	text-rendering: optimizeSpeed;
	//line-height: 1.7;
	//font-family: $sans_serif;
	//color: $gray_dark; //$black; var(--wp--preset--color--primary)
	margin: 0;
}

::selection {
	background: #ff9; // bright yellow
	color: black !important;
	text-shadow: none;
}

hr {
	//display: block;
	border: 0;
	border-top: 1px solid var(--wp--preset--color--gray-light);
	border-bottom: 1px solid white;
	padding: 0;

	box-sizing: content-box;
	height: 0;
	overflow: visible;
}

/*
.wp-block-separator.has-background {
	height: 2px;
	border: 0;
}
*/

/*********************
LINK STYLES
*********************/

a,
a:visited {
	color: var(--link-color);
	&:hover,
	&:focus {
		color: var(--link-color--hover);
	}
	&:active {
		color: var(--link-color--active);
	}
	&:link {
		//-webkit-tap-highlight-color: rgba($link_color, 0.6); // mobile tap color
	}
}

/*********************
LAYOUT & GRID STYLES
*********************/

.wrapper {
	//position: relative;
	width: 92%;
	width: calc(100% - 40px);
	margin-right: auto;
	margin-left: auto;
	max-width: 1240px;
}

.wrapper-inner {
	width: 92%;
	margin-right: auto;
	margin-left: auto;
	max-width: 760px; //800px;
}

#container {
	position: relative;
}

/*********************
GUTENBERG Blocks
similar to old .entryContent
*********************/

/*
.wp-block-post-content.alignfull > :not(.alignfull):not([data-align='full']),
.wp-block[data-align='full']
	> .wp-block-post-content
	> :not(.alignfull):not([data-align='full']),
.wp-site-blocks
	> [class*='wp-container-']
	> :not(.alignfull):not([data-align='full']) {
	margin-left: auto;
	margin-right: auto;
	width: calc( 100% - ( 2 * var( --wp--custom--gutter ) ) ) !important;
}
*/

// Gutenberg Blocks, first child
.wp-site-blocks > {
	*:not(.alignfull) {
		width: calc(100% - 40px);
		max-width: var(--wp--custom--layout-style--content-size);
		margin-right: auto;
		margin-left: auto;
		position: relative;
	}
	.alignwide {
		max-width: var(--wp--custom--layout-style--wide-size);
	}
	.alignfull {
		width: 100%;
		max-width: 100%;
	}
	@include breakpoint(large) {
	}
}

/*********************
ACCESSIBILITY 
using what intent
*********************/
[data-whatintent='mouse'] *:focus {
	outline: none;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}
	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

/*********************
CSS NORMALIZE RESET
*********************/

// Box sizing rules
*,
*::before,
*::after {
	box-sizing: border-box;
}

abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	text-decoration: underline dotted;
}

// Add the correct font weight in Chrome, Edge, and Safari.
b,
strong {
	font-weight: bolder;
}

small {
	font-size: 80%;
}

// Prevent `sub` and `sup` elements from affecting line height
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sub {
	bottom: -0.25em;
}
sup {
	top: -0.5em;
}

main,
details {
	display: block;
}

summary {
	display: list-item;
}

template,
[hidden] {
	display: none;
}
