/******************************************************************

Stylesheet: Buttons

******************************************************************/

// adjust button defaults
button {
	background: none;
	border: none;
}

/**
 * Let's define our core button styles
 */
%button-styles {
	font-weight: bold;
	font-family: $sans_serif;
	text-decoration: none;
	font-size: 1rem;
	padding: 8px 1.25rem;
	text-align: center;
	border: 1px solid $link_color;
	background: $link_color;
	color: $white;

	display: inline-block;
	height: auto;
	text-decoration: none;
	border-radius: $radius;
	transition: all $ease;
	cursor: pointer;
	-webkit-appearance: none;
	overflow-wrap: break-word;

	&:hover,
	&:focus {
		border-color: $link_hover;
		background: $link_hover;
		color: $white;
		text-decoration: none;
	}
}

/* ----- Core Block Buttons -------------------- */
.block-editor-block-list__block[data-type='core/buttons'],
.block-editor-block-list__block[data-type='core/button'] {
	margin-top: 0;
	margin-bottom: 0;
}

// Regular Button
.wp-block-button__link,
.gform_button {
	@extend %button-styles;
	background-color: $link_color;
	color: white;
	box-shadow: $shadow;
	&:hover,
	&:focus {
		color: white;
		background-color: $link_hover;
		border-color: $link_hover;
		box-shadow: 0 0 4px rgba($link_hover, 0.5);
	}
	&:active {
		box-shadow: none;
	}
}

// Outline Button Style
.is-style-outline .wp-block-button__link {
	font-weight: 500;
	border: 1px solid $gray;
	color: $gray;
	box-shadow: none;
	background-color: transparent !important;
	&:hover,
	&:focus {
		border-color: $link_hover;
		box-shadow: 0 0 4px rgba($link_hover, 0.5);
	}
	&:active {
		box-shadow: none;
	}
}

// Arrow Button Style
.is-style-arrow .wp-block-button__link {
	border: none;
	color: $link_color;
	box-shadow: none !important;
	background-color: transparent !important;
	font-size: 18px;
	padding: 8px 8px 6px 8px;
	font-weight: 500;
	&::after {
		content: ' →';
		font-weight: normal;
	}
}

// Rounded pill variation
.wp-block-button__link.is-style-rounded {
	border-radius: 50px;
	box-shadow: none;
	font-weight: 500;
	&:before {
		border-radius: 50px;
	}
}
