/******************************************************************

Stylesheet: Forms

******************************************************************/

/*********************
CSS NORMALIZE RESET
*********************/
button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}

// Show the overflow in IE.
button,
input {
	overflow: visible;
}

// Remove the inheritance of text transform
button,
select {
	text-transform: none;
}

// Correct the inability to style clickable types in iOS and Safari.
button,
[type='button'],
[type='reset'],
[type='submit'] {
	-webkit-appearance: button;
}

progress {
	vertical-align: baseline;
}

textarea {
	overflow: auto;
}

// Correct the inability to style clickable types in iOS and Safari.
::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

/*********************
GRAVITY FORMS
*********************/

.gform_wrapper {
	position: relative;
	.top_label .gfield_label {
	}
	.hidelabel .gfield_label {
		display: none !important;
	}
	.top_label div.ginput_container {
		margin-top: 0 !important;
	}
	.gfield_description {
		padding-top: 4px !important;
	}
	input[type='text'],
	input[type='email'],
	input[type='tel'] {
		padding: 6px 10px 4px 10px !important;
		&::placeholder {
		}
	}
	textarea {
		margin-top: 5px;
		&:focus,
		&:active {
			border-color: var(--link-color);
		}
	}
	select {
		margin: 0 !important;
		padding: 5px 10px !important;
		&:focus,
		&:active {
			border-color: var(--link-color);
		}
	}
	.gfield_radio {
		input {
		}
		label {
		}
	}
	.gfield_checkbox {
		input {
		}
		label {
		}
		li input[type='checkbox']:checked + label {
		}
	}

	// Labels below fields
	.ginput_complex.ginput_container label {
		text-transform: uppercase;
		font-size: 12px !important;
		margin: 2px 0 8px 0 !important;
	}
	.horizontal .gfield_checkbox {
		li {
			display: inline-block;
			margin-right: 30px;
		}
	}

	// Error Messages
	div.validation_error {
		background: var(--link-color);
		padding: 10px !important;
		color: white !important;
		border: none !important;
	}
	li.gfield.gfield_error {
		border: none !important;
		padding-top: 0 !important;
	}

	// Submit Button
	.gform_footer {
		.button {
			&:hover {
			}
			&:active {
			}
		}
	}
}
