/******************************************************************

Stylesheet: WP Media

******************************************************************/

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  height: auto;
  display: block;
}

// Remove default margins
figure,
figcaption {
	margin: 0;
}

.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
	max-width: 100%;
	height: auto;
}


/*********************
LAZYLOADING IMAGES
*********************/

IMG[src=''], IMG:not([src]) {
	//opacity: 0; // hides border for images without src
}


/*********************
WP CAPTIONS
*********************/

.wp-caption {
	max-width: 100%;
	text-align: center;
	&.alignleft {
		margin-right: $default_margin;
	}
	&.alignright {
		margin-left: $default_margin;
	}
	&.aligncenter {
		margin-right: auto;
		margin-left: auto;
	}

	/* images inside wp-caption */
	img {
		max-width: 100%;
		height: auto;
		margin-bottom: 0;
	}

	.wp-caption-text {
		font-size: 0.875em;
		margin: .5em 0 1em;
		text-align: center;
	}
}


/*********************
HTML5 IMAGE GALLERY
*********************/

.gallery {
	text-align: justify;
	.gallery-item {
		margin: 0;
		width: 50%;
		display: inline-block;
		vertical-align: top;
		padding: .5em;
		// outline: none;
	}
	img {
		display: block;
	}
	.gallery-caption {
		text-align: left;
		padding: .25em 0;
	}
	&::after {
	    content: '';
	    display: inline-block;
	    width: 100%;
	}
@include breakpoint(medium) {
	.gallery-item {
		width: 25%;
	}
	img {
		will-change: opacity;
		&:hover {
			opacity: .7;
			transition: opacity $ease;
		}
	}
}
}


/*********************
RESPONSIVE VIDEOS
*********************/
// General Video Styles
.videoContainer {
	position: relative; 
	padding-bottom: 56.25%; 
	height: 0; 
	overflow: hidden;
}

.videoContainer iframe, 
.videoContainer object, 
.videoContainer embed, 
.videoContainer video { 
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%;
	height: 100%; 
}

/*********************
GUTENBERG BLOCK IMAGES
*********************/
.wp-block-image {
    margin-bottom: 1em;
    img {
        max-width: 100%;
    }
    .aligncenter {
        text-align: center;
    }
    .alignfull img,
    .alignwide img {
        width: 100%;
    }
    .alignleft,
    .alignright,
    .aligncenter,
    .is-resized {
        display: table;
    }
    .alignleft>figcaption,
    .alignright>figcaption,
    .aligncenter>figcaption,
    .is-resized>figcaption {
        display: table-caption;
        caption-side: bottom;
    }
    .alignleft {
        float: left;
        margin-left: 0;
        margin-right: 1em;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }
    .alignright {
        float: right;
        margin-right: 0;
        margin-left: 1em;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }
    .aligncenter {
        margin-left: auto;
        margin-right: auto;
    }
    figcaption {
        //background-color: $gray_lighter;
        font-size: 0.8rem;
        line-height: 1rem;
        padding: 10px 5px;
        margin-bottom: 1rem;
        font-style: italic;
    }
}
