/******************************************************************

Stylesheet: Typography

******************************************************************/

/*********************
HEADLINES
*********************/

h1,
.has-gigantic-font-size {
	font-weight: 700;
	font-size: var(--wp--preset--font-size--gigantic);
	line-height: var(--wp--custom--typography--line-height--gigantic);
	letter-spacing: var(--wp--custom--typography--letter-spacing--gigantic);
}

h2,
.has-huge-font-size {
	font-weight: 900;
	font-size: var(--wp--preset--font-size--huge);
	line-height: var(--wp--custom--typography--line-height--huge);
	letter-spacing: var(--wp--custom--typography--letter-spacing--huge);
}

h3,
.has-large-font-size {
	font-weight: 600;
	font-size: var(--wp--preset--font-size--large);
	line-height: var(--wp--custom--typography--line-height--large);
	letter-spacing: var(--wp--custom--typography--letter-spacing--body);
}

h4 {
	font-weight: 900;
	font-size: var(--wp--preset--font-size--normal);
	line-height: var(--wp--custom--typography--line-height--huge);
	letter-spacing: var(--wp--custom--typography--letter-spacing--body);
}

h5 {
	font-weight: 600;
	font-size: var(--wp--preset--font-size--small);
	line-height: var(--wp--custom--typography--line-height--huge);
	letter-spacing: var(--wp--custom--typography--letter-spacing--spread);
	text-transform: uppercase;
}

h6 {
	font-weight: 600;
	font-size: var(--wp--preset--font-size--tiny);
	line-height: var(--wp--custom--typography--line-height--huge);
	letter-spacing: var(--wp--custom--typography--letter-spacing--spread);
	text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	strong {
		font-weight: 900;
	}
}

/*
h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	//font-family: var(--wp--preset--font-family--source-serif-pro);
	margin: 0;
	margin-bottom: var(--line-height--normal);
	line-height: var(--line-height--normal); // 32px default
}

h1,
.h1 {
	font-size: 2.5rem;
	line-height: 1.25;
	font-weight: bold;
}
h2,
.h2,
.has-xlarge-font-size {
	font-size: 2rem;
	line-height: 1.25;
	font-weight: bold;
}
h3,
.h3,
.has-large-font-size {
	font-size: 1.5rem;
	line-height: 1.25;
	font-weight: bold;
}
h4,
.h4,
.has-medium-font-size {
	font-size: 1.25rem;
	line-height: 1.5;
	font-weight: 500;
}
h5,
.h5,
.has-small-font-size {
	font-size: 1rem;
	line-height: 1.5;
	font-weight: normal;
}
h6,
.h6,
.has-x-small-font-size {
	font-size: 0.875rem;
	line-height: 1.5;
	font-weight: normal;
}

*/

/*********************
PARAGRAPH & LISTS
*********************/
p,
ul,
ol {
	//font-size: var(--wp--preset--font-size--normal);
	//padding: 0;
	//margin: 0;
	//margin-bottom: var(--line-height--normal);
	&.has-mediumtext-font-size {
		//font-size: var(--wp--preset--font-size--medium);
	}
}

/*********************
LISTS
*********************/
ul,
ol {
	padding-left: 1em;
	padding-top: 8px;
	li {
		padding-left: 1rem;
		margin: 0 0 8px 0;
		line-height: 24px;
		&::marker {
			color: var(--link-color);
		}
		ul {
			margin-top: 8px;
		}
		li {
			font-size: 0.875em;
		}
	}
}

/*********************
BASE ELEMENTS
*********************/

dfn,
em,
i {
	font-style: italic;
}
blockquote {
	//font-family: $sans_serif;
	font-size: 1.25em;
	line-height: 1.5;
	margin: 0;
	@include breakpoint(large) {
		font-size: 1.5em;
	}
}

cite {
	font-style: normal;
	font-weight: 500;
	font-size: 0.875rem;
	@include breakpoint(large) {
		font-size: 1.125rem;
	}
}

address {
	margin: 0;
}
pre {
	background: black;
	color: white;
	font-family: monospace;
	font-size: 0.9em;
	margin: 0 0 1em 0;
	max-width: 100%;
	padding: 1em;
	overflow: auto;
}
abbr,
acronym {
	cursor: help;
}
mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}
