/******************************************************************

Stylesheet: Variables

******************************************************************/

/*********************
BREAKPOINTS
*********************/
$small: 'screen and (min-width: 30em)'; // 480px
$medium: 'screen and (min-width: 48em)'; // 768px
$large: 'screen and (min-width: 64em)'; // 1024px
$xlarge: 'screen and (min-width: 75em)'; // 1200px
$xxlarge: 'screen and (min-width: 90em)'; // 1440px
@mixin breakpoint($point) {
	@if $point == xxlarge {
		@media #{$xxlarge} {
			@content;
		}
	}
	@if $point == xlarge {
		@media #{$xlarge} {
			@content;
		}
	}
	@if $point == large {
		@media #{$large} {
			@content;
		}
	}
	@if $point == medium {
		@media #{$medium} {
			@content;
		}
	}
	@if $point == small {
		@media #{$small} {
			@content;
		}
	}
}

/*********************
FONTS
*********************/
$sans_serif: 'Helvetica Neue', Arial, sans-serif;
$serif: 'Georgia', Cambria, Times, serif;
//$headline: 'DIN', sans-serif;

/* Font Face Example 
@font-face {
	font-family: 'MMResistSans';
	src: url('../fonts/ResistSansDisplayBold.woff2') format('woff2');
	font-display: auto; // swap
	font-weight: bold;
	font-style: normal;
}
*/

/* Google Fonts Example
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');
*/

/*********************
RESPONSIVE CSS VARIABLES
example use: margin: var(--wp--preset--font-size--medium);
*********************/
/* 
:root (this doesn't always work with theme.json)
body #container
*/
body {
	--wp--preset--font-size--xsmall: 0.75rem;
	--wp--preset--font-size--small: 1rem;
	--wp--preset--font-size--medium: 1.125rem;
	--wp--preset--font-size--large: 1.25rem;
	--wp--preset--font-size--xlarge: 2rem;
	--wp--preset--font-size--huge: 3rem;

	/*
	--line-height--xsmall: 20px;
	--line-height--regular: 24px;
	--line-height--medium: 28px;
	--line-height--large: 32px;
	--line-height--xlarge: 40px;
	--line-height--huge: 48px;

	--wp--preset--font-family--helvetica: $sans_serif;
	--typography__fontSize: 1rem;
	--spacing__rhythmUnit: 1.5rem;
	
	--margin--xsmall: 10px;
	--margin--small: 20px;
	--margin--medium: 20px;
	--margin--large: 30px;
	*/
	@include breakpoint(large) {
		--wp--preset--font-size--xsmall: 0.875rem;
		--wp--preset--font-size--small: 1.125rem;
		--wp--preset--font-size--medium: 1.25rem;
		--wp--preset--font-size--large: 1.5rem;
		--wp--preset--font-size--xlarge: 3rem;
		--wp--preset--font-size--huge: 4rem;
	}
}

/*********************
COLORS
*********************/

// Colors are set in theme.json file
:root {
	--dark-blue: #1973be;
}
$blueDark: var(--dark-blue);

$black: #000;
$white: #fff;

$gray_lighter: #f9f9f9;
$gray_light: #eee;
$gray: #333;
$gray_dark: #111;

$gold: #e8c200;
$yellow: $gold;

$green: #547e2a; // #669933;
$red: #d3033d;
$blue: #2779ae;

$text_color: $gray_dark;
$link_color: $green;
$link_hover: $blue;

/* Gutenberg color options
-- see editor-color-palette in includes/gutenberg.php
--------------------------------------------- */
$colors: (gray, $gray), (gray-light, $gray_light), (blue, $blue),
	(green, $green), (yellow, $yellow), (red, $red), (white, $white),
	(black, $black);

/*********************
INLINE COLORS
*********************/
@each $name, $color in $colors {
	.has-#{$name}-color {
		color: $color;
	}
	.has-#{$name}-background-color {
		background-color: $color;
	}
}

/*********************
REUSABLE ITEMS
These should be replaced by CSS variables above
*********************/

$spacing: 80px;
$default_margin: 1.25rem; // 20px

$radius: 8px;

$shadow: 0 2px 16px rgba(black, 0.12);
$shadow_hover: 0 4px 24px rgba(black, 0.24);
$shadow_active: 0 1px 3px rgba(black, 0.2);

$ease: 0.2s ease-in-out;
$easeslow: 0.6s ease-in;

// Contain floats
.clearfix,
.cf {
	zoom: 1;
	&:before,
	&:after {
		content: '';
		display: table;
	}
	&:after {
		clear: both;
	}
}

// Modern clearfix (does not work with IE)
.modern-clearfix {
	display: flow-root;
}

// Better support for screen readers with icons
.screen-reader-text {
	position: absolute;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	word-wrap: normal !important;
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	&:focus {
		z-index: 100000; /* Above WP toolbar. */
		clip: auto !important;
		clip-path: none;
		display: block;
		top: 5px;
		left: 5px;
		height: auto;
		width: auto;
		padding: 15px 23px 14px;
		font-size: 1em;
		line-height: normal;
		text-decoration: none;
		background-color: $white;
		color: $link_color;
	}
}

// Styling Scrolling DIVS
.scroll-overflow {
	overflow-x: hidden;
	overflow-y: auto; /* use hidden if you only want to show on hover */
	-ms-overflow-style: none; /* IE 10+ */
	scrollbar-width: thin; /* Firefox can also use 'none' */
	&::-webkit-scrollbar {
		/* Safari and Chrome */
		width: 8px;
	}
	&::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 1px 0 0 0 $gray_lighter;
		background: $gray_light;
	}
	&::-webkit-scrollbar-thumb {
		border-radius: 8px;
		background: $gray;
	}
}

// keep phrase from breaking to 2nd line: class adding through wysiwyg
.nowrap {
	//display: inline-block;
}

.hide {
	//display: none;
}
