/*********************
Tribe Events Calendar
*********************/

// Hide AJAX loading spinner (if not removed via function)
.tribe-events-ajax-loading {
	display: none;
}


/*********************
LIST VIEW
*********************/
.tribe-events-loop {
	a.hidden,
	a.hidemore,
	.nonefound {
		display: none;
	}
	.tribe-events-list-separator-month {
	}
	.type-tribe_events {
	}
@include breakpoint(xlarge) {
}
}


/*********************
SINGLE EVENT
*********************/
.tribe-events-pg-template {
@include breakpoint(large) {
}
}



// Default styles override
/*
#tribe-events-pg-template, .tribe-events-pg-template {
	max-width: none !important;
	padding: 0 !important;
}
#tribe-events-content-wrapper {
	max-width: none; //1200px;
	display: block;
	margin: 0 auto;
}
.tribe-events-tooltip h3 {
	font-size: 20px;
	margin: 10px 8px 0 8px;
}
.tribe-events-month-event-title {
	font-weight: bold !important;
	letter-spacing: normal;
}
*/
