/*********************
Search Form
*********************/

.searchForm {
	display: none; // hide before pressing #searchToggle
	margin: 0;
	text-align: center;
	position: absolute;
	top: 48px;
	left: 0;
	width: 100%;
	.searchField {
		display: inline-block;
		vertical-align: top;
		width: calc(100% - 120px);
	}
	.searchSubmit {
		display: inline-block;
		vertical-align: top;
		width: 100px;
	}
}

#searchToggle{
	display: block;
	position: relative;
	float: right;
	cursor: pointer;
	fill: $link_color;
	width: 48px;
	height: 48px;
	svg {
		width: 24px;
		height: 24px;
		position: absolute;
		top: 12px;
		right: 12px;
	}
	svg.close {
		display: none;
	}
	&.active {
		svg.close {
			display: block;
		}
		svg.open {
			display: none;
		}
	}
	.menuText {
		display: none;
	}

}
