/*************************************
ARCHIVE PAGE NAVI STYLES
**************************************/

.pagination {
	text-align: center;
	ul {
		display: inline-block;
		background-color: white;
		white-space: nowrap;
		padding: 0;
		clear: both;
	}
	li {
		padding: 0;
		margin: 0;
		display: inline-block;
		overflow: hidden;
		&:last-child {
			border: none;
		}
	}
	a,
	a:visited,
	span {
		margin: 0;
		text-decoration: none;
		padding: 0;
		line-height: 1em;
		font-size: 1em;
		font-weight: normal;
		padding: 0.75em;
		min-width: 1em;
		display: block;
		color: var(--link-color);
		&:hover,
		&:focus {
			background-color: var(--link-color);
			color: white;
		}
	}

	.current {
		cursor: default;
		font-weight: bold;
		&:hover,
		&:focus {
			background-color: var(--wp--preset--color--background);
			color: var(--wp--preset--color--foreground);
		}
	}
}

// Next Previous
.post-prev,
.post-next {
	font-size: 0.875em;
	text-transform: uppercase;
	a,
	a:visited {
		&:hover {
		}
	}
}
.post-prev {
	float: left;
}
.post-next {
	float: right;
}
