/*********************
ACF Block - Cards
*********************/

.cards-block {
	.wrapper {
		clear: both;
		text-align: center;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		width: 100%;
		max-width: 1360px; // adjusted wrapper
	}
	.cardACF {
		box-shadow: $shadow;
		border-radius: $radius;
		overflow: hidden;
		margin: 10px;
		position: relative;
		transition: all $ease;
		text-align: left;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		align-content: space-between;
		align-items: stretch;
		.cardContent {
			padding: 20px;
			* {
				margin: 0;
			}
			p {
				line-height: 1.5;
				width: 100%;
			}
			small {
				color: $gray;
				font-weight: normal;
				margin-top: 1em;
				font-size: 1rem;
				display: inline-block;
			}
		}
		figure {
			display: block;
		}
		.cardIcon {
			position: absolute;
			top: 20px;
			left: 20px;
			width: 20px;
			height: 20px;
		}
		//&:nth-child(even),
		&.end {
			flex-direction: column-reverse;
			justify-content: space-between;
		}
		&.noText {
			justify-content: center !important;
		}
		&.noImage {
			flex-direction: column !important;
			justify-content: center !important;
			text-align: center;
			padding-top: $spacing;
			padding-bottom: $spacing;
		}
	}
	a.cardACF {
		text-decoration: none;
		.cardContent {
			color: $black;
		}
		&:hover {
			box-shadow: $shadow_hover;
		}
		&:active {
			box-shadow: $shadow_active;
		}
	}
	&.columns-two {
		.cardACF {
			width: calc(100% - 20px);
			box-shadow: none;
		}
	}
	&.columns-three {
		.cardACF {
			width: calc(100% - 40px);
			max-width: 320px;
		}
	}
	&.columns-four {
		.cardACF {
			width: calc(50% - 30px);
			max-width: 280px;
			.cardContent p {
				font-weight: normal;
			}
		}
	}
	@include breakpoint(medium) {
		&.columns-two {
			.cardACF {
				//width: calc(50% - 30px);
				flex-wrap: nowrap;
				flex-direction: row !important;
				align-items: center;
				figure {
					width: 45%;
					min-width: 45%;
				}
			}
		}
		&.columns-three,
		&.columns-four {
			.cardACF {
				width: calc(33% - 20px);
			}
		}
	}
	@include breakpoint(large) {
		&.columns-two {
			.cardACF {
				margin: 0;
				width: calc(50% - 20px);
			}
		}
		&.columns-four {
			.cardACF {
				width: calc(25% - 40px);
			}
		}
	}
	@include breakpoint(xlarge) {
		.cardACF {
			margin: 20px;
		}
		&.columns-two {
			.cardACF {
				margin: 0;
				width: 50%;
			}
		}
		&.columns-three {
			.cardACF {
				.cardContent {
					padding: $spacing/2;
				}
			}
		}
		&.columns-four {
			.cardACF {
				.cardContent p {
					font-size: 1.25rem;
				}
			}
		}
	}
}
