/******************************************************************

Stylesheet: WP Editor Stylesheet 

******************************************************************/

/*********************
REMOVES MEDIA QUERIES
*********************/
$ignore-mqs: true;


/*********************
IMPORTING MODULES
*********************/

// import variables
@import "modules/variables";

// typography
@import "modules/typography";

// buttons
//@import "modules/buttons";


/*********************
CUSTOM EDITOR STYLES
*********************/

.nowrap {
	border: 1px solid #eee;
	display: inline-block;
}

.button {
	padding: 3px 6px;
	font-weight: bold;
	color: $white;
	background: $link_color;
	text-decoration: none;
}

.small {
	font-size: .75em;
}

.mce-menu .mce-menu-item.mce-selected {
	color: red !important;
	border: 2px solid yellow;
}