/*********************
ACF Block - Expanding Text
*********************/

.expanding-text-block {
	padding: $spacing/4 0;
	.sectionTitle {
		svg {
			width: 24px;
			height: 24px;
			margin: 0;
		}
	}
	.expandBlock {
		margin-bottom: 10px;
	}
	.toggleContent {
		transition: color $ease;
		display: block;
		cursor: pointer;
		padding: $spacing/4;
		margin: 0;
		position: relative;
		transition: all $ease;
		width: 100%;
		text-align: left;
		svg {
			width: 24px;
			height: 24px;
			position: absolute;
			top: 24px;
			right: $spacing/4;
			transform: rotate(90deg);
			fill: var(--wp--preset--color--primary);
		}
		&.open {
			svg {
				transform: rotate(-90deg);
			}
		}
		&:hover svg {
			fill: var(--wp--preset--color--secondary);
		}
	}
	.hiddenContent {
		display: none;
		padding: $spacing/4;
		padding-top: 0;
		.entryContent {
			*:first-child {
				margin-top: 0;
			}
		}
	}
	@include breakpoint(large) {
		padding: $spacing/2 0;
		.sectionTitle {
			svg {
				width: 32px;
				height: 32px;
			}
		}
		.expandBlock {
			width: calc(100% - 40px);
			max-width: 1240px;
			margin: 0 auto 20px auto;
		}
		.toggleContent,
		.hiddenContent {
			padding: $spacing/2;
			padding-right: 80px;
			svg {
				right: 36px;
				top: 36px;
			}
		}
		.hiddenContent {
			padding: 0 80px $spacing/2 $spacing/2;
		}
	}
}
